[2016-03-08 15:14] shanikadhettige opened #46 "About page"
**Content Edits**
- [x] Find out from Alana about Team Profiles - do we want just photos and names or none at all? (Vivien Deparday)
- [x] Replace filler Partners text and images @shanikadhettige
- [x] Edit Related Web Pages to Understanding Risk, World Bank, and GFDRR pages @shanikadhettige
- [x] Change latin filler Contact text on About page @shanikadhettige
- [ ] Send Shanika Principles text fr

[2016-03-08 15:36] shanikadhettige opened #47 "Edit/remove Team Profiles"
- [ ] Find out from Alana: do we want only photos and names or no team profiles at all? @vdeparday

[2016-03-08 15:42] shanikadhettige opened #48 "Fix Related Web Pages formatting errors"
- [ ] Fix Related Web Pages formatting errors on About page (Vizzuality)
  Labels: About page, Technical edit

[2016-03-08 15:43] shanikadhettige opened #49 "Move Contact section"
- [x] Contact section should be at the bottom of page not middle (Vizzuality)
  Labels: About page, Technical edit

[2016-03-08 15:46] shanikadhettige opened #50 "Format Pillars section on About page"
- [ ] Text about pillars only shows up on half the screen, does not extend the full width of the page (Vizzuality)
- [ ] We should add the pillar logos in the About page with the pillar descriptions. I feel like it may be better to have the pillar description lined horizontally, rather than vertically? (Vizzuality)

Labels: About page, Technical edit

[2016-03-08 15:48] shanikadhettige opened #51 "Format Principles text"
- [x] The formatting of principles text has errors. (Vizzuality)
- [x] Please add numbered principles split into two columns. Column A: 1 - Open by default, 2 - Accessible, Licensed, & Documented, 3 - Co-created, 4 - Locally Owned, 5 - Communicated in ways that meet needs of the users. Column B: 6 - Engage user communities, 7 - Develop Strong Institutional Partnerships, 8 - Prioritize Open Source,

[2016-03-08 15:48] shanikadhettige opened #52 "Create Principles graphics"
- [x] Create graphic icons for each principle (Vizzuality)

Labels: About page, Content edit

[2016-03-08 15:49] shanikadhettige opened #53 "Edit Principles text"
- [x] Send Shanika Principles text from Robert S. (Vivien Deparday)
- [x] Complete and add Our Principles text from Robert S. @shanikadhettige
- [x] Confirm principle 10 with Robert S. @shanikadhettige

Labels: About page, Content edit

[2016-03-08 15:50] shanikadhettige opened #54 "Edit Contact text"
- [x] Change Latin filler text for Contact section @shanikadhettige
  Labels: About page, Content edit

[2016-03-08 15:51] shanikadhettige opened #55 "Change Related Webpages content"
- [x] Change Related Web Pages to Understanding Risk, World Bank, and GFDRR pages @shanikadhettige
  Labels: About page, Content edit

[2016-03-08 15:51] shanikadhettige opened #56 "Edit Partners text and images"
- [x] Replace filler Partners text and images @shanikadhettige
  Labels: About page, Content edit

[2016-03-08 15:53] #46 closed, assigned to nobody

[2016-03-08 15:56] shanikadhettige opened #57 "Change Homepage Latin text"
- [x] Change Latin text on Homepage from “Morbi leo risus, porta…” to “OpenDRI shares, collects, and uses data, applying the concepts of the open data movement to reduce vulnerability to natural hazards and to climate change across the globe. Explore our project map to see where we’ve been working towards making an impact.” (Vizzuality)
  Labels: Homepage, Content edit

[2016-03-08 15:57] shanikadhettige opened #58 "Change all Pillar titles"
Change all Pillar titles from Open Data Platforms to Sharing Data, Community Mapping to Collecting Data, and Risk Visualization to Using Data (Vizzuality)
- [x] Filter by Pillar section
- [x] Homepage
- About ?

Labels: General, Content edit

[2016-03-08 15:58] shanikadhettige opened #59 "Edit Privacy Policy text"
- [x] Change Privacy Policy filler text (Shanika Hettige)
  Labels: General, Content edit

[2016-03-08 16:00] shanikadhettige opened #60 "Add Understanding [Country’s] Risk to all Project posts"
- [ ] Add Understanding [Country’s] Risk to all Project posts (Shanika Hettige)

Labels: Projects, Content Edit

[2016-03-08 16:01] shanikadhettige opened #61 "Link Open Cities Guide"
- [x] Link Open Cities Guide to relevant News Posts (Shanika Hettige)

Labels: Resources, Content edit

[2016-03-08 16:02] shanikadhettige opened #62 "Reorganize Resources"
- [x] Reorganize Resources, not by date. Wait for more information from Vivien and Shanika on this. (Vizzuality)
- [x] Put highlighted resource on top of the list of all resources, permanently feature Field Guide and Planning an Open Cities Mapping Project on the bottom. (Vizzuality)
- [x] Allow a filtering by tags (Vizzuality)
- [x] Clean up tags @shanikadhettige

Labels: Resources, Content edit

[2016-03-08 16:03] shanikadhettige opened #63 "Add these resources about the Philippines"
Add the following two resource documents for Philippines related posts (Shanika Hettige):
- [x] https://www.gfdrr.org/community-mapping-disaster-risk-reduction-and-management
- [x] https://www.youtube.com/watch?v=8LHem2ZXWEo
  Labels: Resources, Content edit

[2016-03-08 16:06] shanikadhettige opened #64 "Edit space between title and description"
- [x] A little too much white space between the page title and description and above and below (for instance resources, news) (Vizzuality)

Labels: General, Technical edit

[2016-03-08 16:07] shanikadhettige opened #65 "Change order of header bar"
- [x] Organize header bar in the following order: Projects, News, Resources, About (Vizzuality)
  Labels: General, Technical edit

[2016-03-08 16:07] shanikadhettige opened #66 "Show how to edit Homepage content"
- [ ] Show Vivien and Shanika how to edit Homepage content and include in guide document (Vizzuality)

Labels: General, Technical edit

[2016-03-08 16:09] shanikadhettige opened #67 "Remove any hyphenation of text"
- [x] Remove any hyphenation of text (e.g. title of related resource on [this page](http://opendri.simbiotica.es/techrepublic-highlights-opendris-an-excellent-new-field-guide/)) (Vizzuality)

Labels: General, Technical edit

[2016-03-08 16:10] shanikadhettige opened #68 "Check Map bugs"
- [ ] Why is there a 0 point on the map? Should we use aggregation at all? May be clearer to just leave point as is? (Vizzuality)
  Labels: Map, Technical edit

[2016-03-08 16:11] shanikadhettige opened #69 "Figure out how to add Project posts that span multiple countries"
- [ ] Figure out how to add Project posts that span multiple countries (Vizzuality)
- [x] Add them @shanikadhettige

Labels: Map, Projects, Technical edit

[2016-03-08 16:11] shanikadhettige opened #70 "Hide Project post details"
- [x] Do not show any dates for Project posts (Vizzuality)
- [x] The Projects cards all say “news” on the Homepage and show date. Remove both (Vizzuality)

Labels: Projects, Technical edit, Homepage

[2016-03-08 16:15] shanikadhettige opened #71 "Format Pillars section on Homepage"
- [x] Highlight the button for each pillar and “explore projects” on hover on the home page. (Vizzuality)
- [x] We should link the pillar to the pillar description. (Vizzuality)
- [x] In the pillar description we should add a link towards Projects related to pillar_X that links to the map pre-filtered. (Vizzuality)

Labels: Homepage, Technical edit

[2016-03-08 16:18] shanikadhettige opened #72 "Change Resource related posts"
- [x] Change the Recent News on the bottom of Resource posts to Related Resources or Recent Resources (Vizzuality)
  Labels: Resources, Technical edit

[2016-03-08 21:11] vdeparday commented on #47
So we shouldn't put names, pictures and person profiles but it would be good to have a text saying: The OpenDRI team consists of staff and consultants from the World Bank - GFDRR with expertise in xxx...  and background etc.. The team members are also active participants of global and local technical communities such as OpenStreetMap, OSGeo, HOT,etc.. Some like a short general description. Can you

[2016-03-14 14:05] apercas commented on #48
@shanikadhettige Hi, I'd need the pictures for each card so I can give these items the same look as the others.

[2016-03-14 14:32] apercas commented on #49
Done.

[2016-03-14 14:32] #49 closed, assigned to apercas

[2016-03-14 15:35] apercas commented on #57
Done

[2016-03-14 15:35] #57 closed, assigned to apercas

[2016-03-14 16:02] apercas commented on #50
Hi, about the first tasks, we're following what was proposed on the design (which I'm pasting here), would you still like to change it?

![image](https://cloud.githubusercontent.com/assets/704210/13750592/7016e3ea-ea06-11e5-9fc1-62fb6f4f0ca0.png)

/cc @shanikadhettige

About the second one, we'll need to discuss it with the design team.

Thank you!

[2016-03-14 16:40] apercas commented on #51
We cannot add titles easily to each column as we're treating them as a single list. Reopen if this is not OK.

[2016-03-14 16:40] #51 closed, assigned to apercas

[2016-03-14 16:45] apercas commented on #52
Discussing with the design team

[2016-03-14 17:32] apercas commented on #58
Done

[2016-03-14 17:32] #58 closed, assigned to apercas

[2016-03-14 17:37] #65 closed, assigned to apercas

[2016-03-15 09:21] apercas commented on #66
Should we have a call to discuss it? (Screen-sharing included.)

[2016-03-15 09:23] vdeparday commented on #66
Yes, that would make sense. Shanika is on vacation for a couple days but she will follow up after.

[2016-03-15 12:13] apercas commented on #66
Perfect :)

[2016-03-15 12:15] apercas commented on #67
Hi, I don't see any hyphenation there, could you please tell me the resolution you're using so I can mimic this behaviour? Thanks!

This is what I see:
![image](https://cloud.githubusercontent.com/assets/704210/13777360/fd00ce52-eaaf-11e5-8cf0-ca31adcd9d78.png)

[2016-03-15 12:16] apercas commented on #68
The 0 point indicates the 'non wb countries' and so far is located in the 0,0 position. Do you want me to place it somewhere else?

Thank you!

[2016-03-15 12:40] vdeparday commented on #68
Can we just deactivate clustering to see all the points on the maps? I think it will be clearer. Having a point on 0,0 or elsewhere won't make much sense for the map reader.

[2016-03-15 17:37] apercas commented on #70
Done

[2016-03-15 17:37] #70 closed, assigned to apercas

[2016-03-15 17:46] apercas commented on #68
Sure, I'll let the designers know and let's see if they come up with any idea.

[2016-03-16 10:00] vdeparday opened #73 "Port two blog posts from opencitiesproject.org including interactive maps"
We need to move these two blog posts, keeping the maps:

http://www.opencitiesproject.org/casestudy/health/
http://www.opencitiesproject.org/casestudy/schools/

[2016-03-16 10:16] apercas commented on #73
Hi, I think that the best idea to achieve that is to add them as embed (maybe inside an `iframe`) in each post. Please, tell us if you need some help with that.

[2016-03-21 09:53] apercas commented on #69
Hi, one issue that concerns me right now about this is that if we add the same project for, let's say Albania and Slovenia, when we look for Albania in the map we'll see the dot in Slovenia as well, if we're OK with this we're good to start duplicating the location form as much as we want.

Thanks!
/cc @shanikadhettige @vdeparday

[2016-03-21 10:49] vdeparday commented on #69
I am not sure I fully understand your comment. We have two types of
project, regional and country level. In the case of regional, we would like
to have only one point (symbolized differently) at the centroid of the
region. So this point wouldn't be over another one ?
We did it before in simple cartodb using postgis queries.

El lunes, 21 de marzo de 2016, Adrián notifications@github.com escribió:

[2016-03-21 12:21] apercas commented on #69
In that case we're not showing the same project twice, right? They're different single projects every time.

[2016-03-21 12:35] vdeparday commented on #69
Yes, we are not. We have one individual point on the country for a country
level project and then we have one individual point (only one for the
region) for a given regional project. The regional one will be at the
centroid of the region so likely not overlapping with the country ones. I
think we will need to have slightly different symbology and maybe show the
outline of the region when hovering

[2016-03-21 12:43] apercas commented on #71
Done

[2016-03-21 12:43] #71 closed, assigned to apercas

[2016-03-21 12:51] apercas commented on #69
Ok, then, if I'm not mistaken, so far, we have this cover with regular projects that points to the exact location of it [we already have this] and a different marker [we don't have this], for the outline of the region we'll need that cartography data. I'll ask Sergio about this change.

I understood that the goal was to have the same project in different locations, sorry.

[2016-03-21 15:54] apercas commented on #68
Done, please check.

[2016-03-21 15:54] #68 closed, assigned to apercas

[2016-03-21 16:31] shanikadhettige commented on #66
Hi all,

Would it be possible to do a call about this on Tuesday or Wednesday
afternoon?

Best,
Shanika

On Tue, Mar 15, 2016 at 8:13 AM, Adrián notifications@github.com wrote:

[2016-03-21 16:33] shanikadhettige commented on #69
Yes, the outline of the region would be ideal. Would it be possible to have
the same marker but simply have its colours inverted? Maybe that will be
simpler than a completely different marker. So long as it shows the outline
of the region when you hover over it, it should be clear what it is for.

On Mon, Mar 21, 2016 at 8:51 AM, Adrián notifications@github.com wrote:

[2016-03-21 16:39] apercas commented on #64
Done.

[2016-03-21 16:39] #64 closed, assigned to apercas

[2016-03-21 16:45] apercas commented on #66
Hi, I asked over email.

[2016-03-21 16:46] #54 closed, assigned to nobody

[2016-03-21 16:46] #61 closed, assigned to nobody

[2016-03-21 16:46] #59 closed, assigned to nobody

[2016-03-21 16:46] #55 closed, assigned to nobody

[2016-03-21 16:47] #53 closed, assigned to nobody

[2016-03-21 16:51] apercas commented on #69
As long as we have those regions on CartoDB we can work that out. About the marker, maybe it's better to get involved the design team?

[2016-03-23 10:57] apercas commented on #66
Can we close this?

[2016-03-23 11:04] shanikadhettige commented on #66
Yes

Shanika

[2016-03-23 11:05] #66 closed, assigned to apercas

[2016-03-30 19:03] shanikadhettige opened #76 "Image Error"
http://dev-gfdrr-opendri.pantheonsite.io/project-noah-launches-new-drrm-online-platform/ no longer shows image after migration and does not link to original source

[2016-03-30 19:37] #63 closed, assigned to nobody

[2016-03-30 19:52] shanikadhettige commented on #67
I was getting confused because it wasn't happening on my Chrome browser anymore and thought it was fixed or had been a glitch but today realized it happens in Safari. I believe my display resolution is 1440x900.
![screen shot 2016-03-30 at 3 49 32 pm](https://cloud.githubusercontent.com/assets/17725960/14155351/6553a2e6-f68f-11e5-9e30-2dba9e4ebfa6.png)
Happens with the worlds Resilience and govern

[2016-03-30 20:06] shanikadhettige commented on #73
@apercas I tried to add an iframe linking to the page by editing the html but it didn't work. From what I've read on the WP support pages it seems like the platform "kills" iframe unless you use a plugin. I also wasn't sure if there was at least a way to upload the .KML files as downloadable? Then we could at least upload an image of the map even if we can't put in the interactive one.

@vdeparday

[2016-03-31 13:59] apercas commented on #73
@shanikadhettige That's weird, we've added several iframes to posts in WordPress. I've posted a demo here: http://opendri.simbiotica.es/iframe-example/

Hope this is good enough (we can change the size of the box, it's just an example).

[2016-03-31 14:46] apercas commented on #76
Hi, I checked this post and it seems everything is alright but the related resources http://opendri.simbiotica.es/project-noah-launches-new-drrm-online-platform/

We'll have to double check the DB relationships but both the links and picture are OK. Am I missing anything? Thanks!

[2016-03-31 15:40] shanikadhettige commented on #76
I only noticed the problem on that page, not on others. Thanks for taking a
look

On Thu, Mar 31, 2016 at 10:46 AM, Adrián notifications@github.com wrote:

[2016-03-31 15:51] apercas commented on #72
Done: http://opendri.simbiotica.es/resource/shock-waves-managing-the-impacts-of-climate-change-on-poverty/

[2016-03-31 15:51] #72 closed, assigned to apercas

[2016-03-31 16:14] apercas commented on #67
Indeed! Safari applied hyphenation, fixed!

[2016-03-31 16:30] apercas commented on #62
Any updates on the first task? Thanks!

[2016-03-31 17:20] shanikadhettige commented on #62
I've come up with a new system and applied it to the tags for News and Resources on WordPress. Confirming with Vivien today and will get back to you shortly.

[2016-03-31 17:24] shanikadhettige commented on #56
Confirming this text and team profiles text with Vivien today as well but in the mean time, @apercas, wanted to let you know that  when I upload the partners text and the logos the editing is messed up. The logos try to conform to a specific shape (see the example for OSM that is already loaded to WP) and the columns get messed up.
Here is the google doc where I have the text and links for the log

[2016-03-31 17:29] shanikadhettige commented on #50
Any word on the logos?

Actually I think that all that needs to happen would be reorienting them this way on the about page and adding in the logos above each title and description text below each title. Perhaps inverting the colors of the logo so that it shows up with a dark blue circle with light logo inside because the page background is light?

![screen shot 2016-03-31 at 1 30 58 pm](https://c

[2016-03-31 18:48] vdeparday opened #77 "Integrate mailchimp in the website"
@apercas , I think I forwarded the information about the account. Let us know when it is integrated. I think there are two levels of integration:
- enable users to register to the mailing list
- list previous issues of the newsletters so that users can access them on an on-demand basis.

[2016-03-31 19:57] shanikadhettige opened #78 "GeoNode Deployment Guide"
- [x] Change colors to be less blue, show logo better
- [x] Add as a Notes resource and add link to the Pillars on About Page

[2016-03-31 19:58] shanikadhettige opened #79 "Community Mapping Factsheet"
- [x] Change colors to be less blue, show logo better
- [x] Split into two files
- [x] Change Sri Lanka content to be about Sri Lanka
- [x] Add as a resource, link in Pillars on About page

[2016-03-31 20:04] shanikadhettige opened #80 "Can we also download the fonts listed in brand guidelines?"
http://vizzuality.github.io/innovation-lab-brand-guidelines/brand-guidelines/typography-families.html

[2016-03-31 20:05] shanikadhettige opened #81 "Get approval from partner organizations"

[2016-03-31 20:07] shanikadhettige opened #82 "Please add the OpenDRI logos with background to Brand Guidelines site"
https://basecamp.com/1756858/projects/10211583/uploads/30621119#comment_399087384

[2016-03-31 20:09] shanikadhettige opened #83 "Tech Notes files"
- [ ] Email Robert to check for more
- [ ] Create InDesign file from completed Tech Notes
- [ ] Upload as resources

[2016-03-31 20:10] shanikadhettige opened #84 "Add resource: Open Source Review GFDRR Publication"

[2016-03-31 20:12] shanikadhettige opened #85 "Edit Open Cities Guide formatting"
Too crowded looking, needs some more separation between sections. We prefer some aspects of the older version (the one that was blue and white)
https://basecamp.com/1756858/projects/10211583/todos/228759719?enlarge=205102523#attachment_205102523

[2016-03-31 20:15] shanikadhettige opened #86 "Accreditation process"
- [x] Accreditation form
- [x] ESP form
- [x] OIS form
- [x] Email Chris Nammour

[2016-03-31 20:41] shanikadhettige commented on #62
Hi @apercas,

@vdeparday and I have discussed and would like all the resources to fall under the following categories:
- Publications
- Newsletters
- Notes
- Tools and Training Materials
- Other Resources

We've changed them around slightly so I will have to go through and edit the tags once I can edit them on the Pantheon side. If possible it would be great if we added these as a Category selecti

[2016-04-01 11:55] apercas commented on #62
Hi, sure, I asked the design team to look for the best way to add that category list and filters.

About the tags for Year, Country etc. in the second part, that's not a default behaviour, but we could develop a workaround so when the contributor adds a new post/resource/project the forma has any tags pre-selected, would this be OK?

Thanks.

[2016-04-05 10:12] apercas commented on #62
One quick question, is it mandatory that a contributor adds all of the tags? A year and a country and a region...? Thanks

/cc @shanikadhettige

[2016-04-05 10:16] apercas commented on #56
Checking.

[2016-04-05 11:05] apercas commented on #56
Hi again @shanikadhettige I fixed the tags (you forgot a `</div>`), this is the final code I used https://gist.github.com/apercas/ff39ef2032b67560288b87d0dd428780

Please let me know if you keep facing issues while editing the about section. Thank you :)

[2016-04-05 15:38] apercas commented on #62
I've done some of the other tasks, please check before pushing to Pantheon http://opendri.simbiotica.es/resource/

Thanks :)

[2016-04-05 16:33] apercas commented on #77
Hi, the form is already wired up on staging (http://opendri.simbiotica.es/resource/) but the confirmation mail doesn't seem to be ready yet from the backend, could you please check?

Thank you!

[2016-04-05 16:48] agnlez commented on #82
Sorry @shanikadhettige, I didn't understand you. What do you mean by adding the logos with background? We already have the OpenDRI logos added in the site (http://vizzuality.github.io/innovation-lab-brand-guidelines/brand-guidelines/download-resources.html). Maybe we caught it wrong, is there anything wrong?

Thanks!

[2016-04-05 17:03] agnlez commented on #80
Done! http://vizzuality.github.io/innovation-lab-brand-guidelines/brand-guidelines/typography-families.html

We can't download the font directly due to we can't redistribute the font without permission, so we have linked to the font site, where you can download the font easily.

[2016-04-07 15:53] apercas commented on #62
Hi again, in our opinion the resources list items are not easy to follow with all the tags there, so we propose cleaning them there and not displaying them but of course keep all of them inside each post. This will remove the filter by tag feature from the list unless we add a way the user can navigate to a single category directly from there. In this case we'd need to know if you'd rather have a

[2016-04-11 10:54] apercas commented on #50
Hello again :)

We've updated the pillars in the About section, please review this on Staging before going to PRO: http://opendri.simbiotica.es/about/

Thank you!

[2016-04-13 13:54] vdeparday opened #88 "Homepage not displaying properly on IE 11.096"
This is the default webbrowser at the World Bank.

![image](https://cloud.githubusercontent.com/assets/1036189/14495478/9d6d0540-015d-11e6-94a3-674c0a2b39f3.png)

[2016-04-13 14:02] vdeparday opened #89 "Logo assets for download are tilted"
A designer working on another project notified us that some of the logos (particularly in the standard version) are tilted : http://vizzuality.github.io/innovation-lab-brand-guidelines/brand-guidelines/download-resources.html

[2016-04-13 14:12] vdeparday opened #90 "Need to add World Bank group logo on about page"
We need to add the World Bank group logo on the about page in a similar fashion as here https://understandrisk.org/about/
Logo can be downloaded from here:
https://www.dropbox.com/sh/r4suxu3jws2wtox/AAB_OjUAReVre54inVFy9TD3a?dl=0

[2016-04-13 18:53] vdeparday opened #91 "Remove WHAT IS OPEN DATA FOR RESILIENCE INITIATIVE? from homepage"
We don't think it is necessary to have this at the top.
We will also edit the text directly

[2016-04-13 19:07] vdeparday opened #92 "Remove generic text under News and Projects"
We can remove the Generic Texts under News and Projects on the homepage as well as on each of the page. Project and News are pretty selfexplanatory.
http://opendri.simbiotica.es/project/
http://opendri.simbiotica.es/category/news/

[2016-04-13 19:11] vdeparday opened #93 "Dateline issue with the project maps"
There is a dateline issue that prevent from looking at the Pacficic island for instance.

[2016-04-13 19:12] vdeparday opened #94 "Zoom out one more zoom level the map on the default view"
When landing on the map page, it is is a little bit too zoomed in which prevent from seeing the overall world. Could we set the zoom level to be out 1 more level?

[2016-04-13 19:13] vdeparday opened #95 "Points are too big on the map when no filters are applied"
The points looks a bit too big and akward when there is no filter applied. Once filters are applied they get smaller. Could have them of the smaller size all the time?

[2016-04-13 19:13] vdeparday opened #96 "In the map filter, remove Non-wb countries"
We do not need to have this category in the country filter.

[2016-04-13 19:15] vdeparday opened #97 "Map pop-up have escaping characters"
The map pop up contains slash escaping characters when the text contains an apostrophe for instance. See for instance Sri Lanka

[2016-04-13 19:16] vdeparday opened #98 "How are the map pop-up content determined?"
It looks a bit weird for Sri Lanka for isntance where a sentence is cut half way without indication.

[2016-04-13 19:18] vdeparday opened #99 "Project page and related news"
We should put the related news on the right side, rather than on the bottom. Then the page will look a bit less blend and it will also move the information up for the user.

[2016-04-13 19:19] vdeparday opened #100 "Project page and News page: explore all should be moved up in the page structure"
On a project page and on a news page, there is a link at the very bottom to access all news. We will like it would be better to have near the top so that the user doesn't have to scroll the whole page.

[2016-04-13 19:23] vdeparday opened #101 "On News and Project page, image is repeated twice"
The image that is added for the News or the Project is also for the banner so it is present once in the body of the news or the project and in the banner at the top. We should find something more elegant.

[2016-04-13 19:29] vdeparday commented on #62
Let's clarify this on the call Friday it will be easier.

Just a couple points that we can talk about during the call:

I think we want to simplify a lot this page actually.

We will move all the country specific resources to News related to the countries so we can focus only on core resources

Then I think we can redesign the page to have only featured resources that are categorized using only on

[2016-04-13 19:30] vdeparday opened #102 "About page: move Related web pages to the last section"
Related Web Pages should be the last section in that page.

[2016-04-13 19:30] vdeparday opened #103 "Displaying issue with related web pages"
![image](https://cloud.githubusercontent.com/assets/1036189/14506614/ac3e8d76-018c-11e6-9530-ab7f117504a8.png)

[2016-04-13 19:33] vdeparday commented on #50
Yes, this is good. You can move it to PRO and close the issue (can you give us the right to close issues too?)

Thank you

[2016-04-14 08:55] apercas commented on #103
@vdeparday Hi, yes, this has been discussed here https://github.com/Vizzuality/openDRI/issues/48, I'd need the pictures for each card to fill those blanks. Thank you :)

[2016-04-14 09:00] apercas commented on #102
Hello, this issue is in conflict with this other one: https://github.com/Vizzuality/openDRI/issues/49 Where should it go? Thanks.

[2016-04-14 15:01] apercas commented on #88
Hi, it was a typography interpretation issue on IE, fixed :)

[2016-04-14 15:01] #88 closed, assigned to nobody

[2016-04-15 04:30] shanikadhettige commented on #82
Hi @andresgnlez,
I mean the one found at this link https://basecamp.com/1756858/projects/10211583/uploads/30621119#comment_399087384 regarding the comments on Basecamp about those who do not have AI and cannot change the transparency before using in an email, for example

[2016-04-15 04:36] shanikadhettige commented on #82
https://asset1.basecamp.com/1756858/projects/10211583/attachments/218208959/OpenDRI-logo.ai

[2016-04-15 04:46] shanikadhettige commented on #89
I addressed this in basecamp and the issue was fixed however they have not uploaded it to the website
https://asset1.basecamp.com/1756858/projects/10211583/attachments/218208959/OpenDRI-logo.ai

[2016-04-15 06:09] shanikadhettige opened #106 "Not all Simbiotica updates have been migrated."
There are several edits on Simbiotica wordpress that have not been moved to pantheon WP
e.g. all the reworked tags for Resources and a few of the more recent posts

[2016-04-15 09:06] sergioestella commented on #99
Sounds good. Do you think we should leave bellow the module including "related projects" as it was in the design? I think it does make sense if we will add "related news" in the sidebar.

[2016-04-15 09:17] apercas commented on #106
Hi, yes, we're moving the changes once they're approved instead of automatically because that would lead to mistakes.

[2016-04-15 09:18] apercas commented on #101
Hi, the design team will create a new picture for each element.

[2016-04-15 09:23] apercas commented on #100
Hi, the designers are looking for a solution to this. I'll keep you posted.

[2016-04-15 09:25] apercas commented on #98
The data comes from a table in CartoDB that matches projects with locations, I'll check this now.

[2016-04-15 09:26] apercas commented on #96
Sure, I'll drop this from the filter and we'll get back to you for checking.

[2016-04-15 09:27] apercas commented on #95
Sure indeed, the designers are working on this so the displayed points look better.

[2016-04-15 09:29] apercas commented on #94
Hi, yes we'll move the zoom level but we'll need to make some fixes on the map (as object) and basemap  layer to fix them, on it.

[2016-04-15 09:32] apercas commented on #93
Hi, we've been checking this and we'll redesign the pattern. We'll keep you posted.

[2016-04-15 09:34] apercas commented on #89
We'll get back to you once this is updated.

[2016-04-15 09:40] apercas commented on #97
Checking now.

[2016-04-15 09:54] apercas commented on #50
Done: http://dev-gfdrr-opendri.pantheonsite.io/about/ Please try to close this ticket so we make sure your profile can :)

[2016-04-15 10:36] apercas commented on #98
Please check now.

[2016-04-15 10:36] apercas commented on #97
Fixed.

[2016-04-15 10:36] #97 closed, assigned to apercas

[2016-04-15 10:54] apercas commented on #91
Done on http://opendri.simbiotica.es/ check before pushing to PRO

[2016-04-15 11:04] agnlez commented on #82
We have just updated the site again, we have fixed the current logos and added new ones with background as you can see here: http://vizzuality.github.io/innovation-lab-brand-guidelines/brand-guidelines/download-resources.html

Thanks!

[2016-04-15 11:08] apercas commented on #96
Check http://opendri.simbiotica.es/project/, thanks!

[2016-04-15 11:09] agnlez commented on #89
Website has been updated solving this issue.

[2016-04-15 11:12] apercas commented on #92
Will you do this or on the other hand you want me to go ahead and change it? Thanks!

[2016-04-15 12:58] vdeparday commented on #106
For content, we said that we would edit directly on the production server?
If that is the case the content on the production server should be the most
up to date one ?

On Fri, Apr 15, 2016 at 5:17 AM, Adrián notifications@github.com wrote:

[2016-04-15 12:58] vdeparday commented on #92
I think Shanika has done it. @shanikadhettige, please close this issue if you have already done that.

[2016-04-15 13:01] shanikadhettige commented on #92
Yes, I did it but it wasn't showing up on the page so didn't close since I wasn't sure if it actually worked.

[2016-04-15 13:06] shanikadhettige commented on #77
I've looked into the confirmation mail on mailchimp and it seems to be OK. Does this need to be changed elsewhere in a specific way?
@vdeparday please confirm opendri@understandrisk.org email for mailchimp and test if the subscription works now.

[2016-04-15 13:09] #47 closed, assigned to nobody

[2016-04-15 13:54] #80 closed, assigned to agnlez

[2016-04-15 14:01] vdeparday commented on #50
Looks good

[2016-04-15 14:01] #50 closed, assigned to apercas

[2016-04-15 14:02] shanikadhettige commented on #82
@andresgnlez Could we do this for all the logos for different teams, not just the first two OpenDRI ones? Otherwise those that are uploaded are OK and can be closed once they are added.

[2016-04-15 14:02] #89 closed, assigned to agnlez

[2016-04-15 14:03] #96 closed, assigned to apercas

[2016-04-15 14:05] #76 closed, assigned to apercas

[2016-04-15 14:45] shanikadhettige commented on #106
@apercas @vdeparday Those edits were from before we had access to edit on Pantheon. I just imported all the most recent projects, news posts, and resources from Simbiotica to Pantheon server so now should be up to date and I can move forward with editing only on production (Pantheon) side.

[2016-04-15 14:45] #106 closed, assigned to nobody

[2016-04-17 15:59] vdeparday commented on #86
All the pre-required step are done now we need the website to be almost production ready for them to test it out so I think in a week so we should be good.

[2016-04-18 09:29] apercas commented on #100
Hello :)

As you can see here, for example, http://opendri.simbiotica.es/disaster-risk-management-in-armenia/ we've added this bit:
![image](https://cloud.githubusercontent.com/assets/704210/14599637/c16cfeec-0558-11e6-8520-9c67dccecc91.png)

So the user doesn't need to scroll all the way up/down to click on the explore all links. Thanks!

[2016-04-18 09:29] #100 closed, assigned to nobody

[2016-04-18 09:36] apercas commented on #93
Hello, the basemap has been updated:
![image](https://cloud.githubusercontent.com/assets/704210/14599778/9e528fde-0559-11e6-9865-4c26799058e6.png)
As you can see in this screenshot, the islands are more easily discoverable, please, take into account that this takes some time to un-cache and cache the new tiles again.

I'll wait for you to validate this and close. Thank you!

[2016-04-18 13:47] apercas commented on #101
Hello, as we spoke on our last call, we created a custom field for the thumbnail image. This has been done here https://github.com/Vizzuality/openDRI/pull/109, that field is called `thumbnailPic`, this post is an example of this feature: http://opendri.simbiotica.es/test-thumbnailpic/ if you look the archives, the displayed picture is not the featured on the banner.

List:
![image](https://cloud.g

[2016-04-18 15:11] vdeparday commented on #93
I think Tonga and Samoa should be shown with the other pacific islands on the right and not on the left.  Hawai can stay with the US. Also it is weird when zooming out one more level.

[2016-04-18 16:05] apercas commented on #95
Fixed, close if you like the result: http://opendri.simbiotica.es/project/

[2016-04-18 16:40] apercas commented on #94
Done: http://opendri.simbiotica.es/project/ Close if ok.

[2016-04-18 17:11] shanikadhettige commented on #101
Ok will do, thanks!

On Mon, Apr 18, 2016 at 9:47 AM, Adrián notifications@github.com wrote:

[2016-04-19 11:34] apercas opened #113 "Project Box layout"
Hello, @shanikadhettige and @vdeparday we've created a template as you requested, here is the example http://opendri.simbiotica.es/project/project-box-example/

As mentioned in the PR https://github.com/Vizzuality/openDRI/pull/112 and as you can see in the project edit view, the template code is https://gist.github.com/apercas/67f23608376fbe7391a83e7ddb756172

Hope you like it:
![image](https://cl

[2016-04-19 19:09] vdeparday commented on #95
Looks good to me

[2016-04-19 19:09] #95 closed, assigned to vdeparday

[2016-04-19 19:13] vdeparday commented on #94
hmm actually now it is confusing because the map is really wide so we can see the America twice. I think we can keep the previous zoom level but can we move the center point more to the east (so we can see the pacific islands (we don't need Hawai in the initial view) and also slight south. I am trying to take a screenshot but I cannot move the map to the west because of the dateline.

[2016-04-19 22:10] shanikadhettige commented on #90
I've added the logo but can't get it to align to the right side of the page even when using html.
@apercas can you help and then close the issue?
Thanks!

[2016-04-19 22:42] shanikadhettige commented on #56
Hi @apercas,
I manually re-added in the final text and logos that had been deleted before from the About page but the formatting still won't work for me. Please address and then close, thank you!

[2016-04-19 22:44] shanikadhettige commented on #113
I like how this looks but I think the intention of @vdeparday and @rsoden was to have this on the side of a project page, the equivalent of where the related resources would go on a news page. They should confirm about what they think and let you know how to move forward.

[2016-04-19 22:55] shanikadhettige commented on #103
@apercas
These files have been added into the About page but still have errors. I have also attached the logos below:
![gfdrr_primary logo](https://cloud.githubusercontent.com/assets/17725960/14658226/42ef7ef6-0660-11e6-9aac-7dde162b7991.png)
![ur-full-color](https://cloud.githubusercontent.com/assets/17725960/14658227/42efa5e8-0660-11e6-8ea2-648d1f11b8a3.png)
![wbg_horizontal-black](https://cloud

[2016-04-19 22:56] vdeparday commented on #113
No, @apercas is right, this is where we wanted the box. On the right side, we talked about Related News.

That is looking good and giving more flesh to the project page. I think we need two more css style, one for a list item that is horizontal (text for instance) instead of vertical like the current one (we will need the vertical one too, so keep it there ;) )  and for a paragraph heading. For in

[2016-04-20 05:40] shanikadhettige commented on #99
@vdeparday @sergioestella @apercas Maybe you guys should revisit now that everything is properly linked. In the projects that have news I do think that it's quite nice but maybe we could also add related resources to the country project pages to add more to the pages. I think the news pages look good having stuff below as well as on the side.

[2016-04-20 05:41] shanikadhettige commented on #92
@apercas Most of the edits for this I made on github are still not showing up on pantheon (but are showing on simbiotica).

[2016-04-20 05:42] shanikadhettige commented on #91
@vdeparday please check and confirm if you have made your edits

[2016-04-20 05:51] shanikadhettige commented on #62
All the Resources have been re-tagged, re-organized, and all PDFs have been re-uploaded to this server with correct links. All projects and news and resources have been re-linked with each other in custom fields.

The resources are in the following categories even if we don't have content for some of the categories yet:
- *_Other Resources *_(e.g. annual reports and other world bank non-country sp

[2016-04-20 05:54] shanikadhettige commented on #99
It would be good if all the news at the bottom of a news page could link to other related news (like with the news shown on the projects) as opposed to the most recent one. Otherwise when you are visiting many different news pages it only shows the same three news posts on the bottom and it is actually pretty inconvenient and boring.
I have already linked relevant news to news posts about the same

[2016-04-20 06:00] shanikadhettige commented on #113
Oh yes, I remember and understand the placing now. My mistake.

Over the next few days I will need to go back through all the project content to add some background info. I can add this information from the spreadsheet at the same time, do I just copy the code and paste it in the top of the HTML text part of the project editing box? @vdeparday and @apercas Please let me know when it is completely

[2016-04-20 08:53] apercas commented on #94
I understand, I'll move it.

[2016-04-20 08:55] apercas commented on #90
Hum, I'll check this out.

[2016-04-20 08:56] apercas commented on #92
I'll deploy to PRO later on today, I'll keep you posted.

[2016-04-20 10:17] apercas commented on #94
Done, please check.

[2016-04-20 10:18] apercas commented on #98
Can we close this?

[2016-04-20 10:19] apercas commented on #93
Maybe this is being displayed properly now that we moved the map?

[2016-04-20 10:39] apercas commented on #90
@shanikadhettige done http://dev-gfdrr-opendri.pantheonsite.io/about/

[2016-04-20 11:01] apercas commented on #92
Deployed.

[2016-04-20 11:05] apercas commented on #90
@shanikadhettige Btw, I've also uploaded the about gist you forked https://gist.github.com/apercas/ff39ef2032b67560288b87d0dd428780

[2016-04-20 13:21] shanikadhettige commented on #90
Hmm, yes I saw you post about that before but didn't realize it was directed at me because I guess I don't understand what a gist is. Sorry..
Could you explain in non-github language? Thank you!

Shanika

[2016-04-20 13:22] vdeparday commented on #77
I just confirmed the domain name. @apercas Can you try again for the confirmation mail?
Thank you

[2016-04-20 13:30] apercas commented on #90
Sure, a gist file is just a form where is easy to copy and paste code, so it's handy to have around, nothing else.

[2016-04-20 13:33] vdeparday commented on #93
Almost there. Moving the initial extent to the left so we can see pacific islands to the right and towards the top (a bit closer to South Africa).

I was able to take a screenshot now, if you can set it up like that it would be great:

![image](https://cloud.githubusercontent.com/assets/1036189/14676304/e3a22478-06da-11e6-9596-f498067b5202.png)

[2016-04-20 13:38] vdeparday commented on #94
It is moved the wrong way.

[2016-04-20 13:38] vdeparday commented on #94
See screenshot in the issue #93

[2016-04-20 13:41] vdeparday commented on #98
What I meant is how can we pick/influence what is in there because in most cases it doesn't look very good right now. See for instance:

![image](https://cloud.githubusercontent.com/assets/1036189/14676551/f6c55236-06db-11e6-9250-03043a5627e7.png)

The sentence is cut in the middle, either we want to add at least ... or maybe set the content another way so we have something useful in the popup.

[2016-04-20 13:55] vdeparday commented on #62
Thank you @shanikadhettige .

@apercas @sergioestella  , as discussed and agreed it would be great if you can provide us a template for the page that we can manually edit that would enable to manually edit the categories (if we want to add one or delete one) and to add and remove resources.
Thank you

[2016-04-20 15:36] apercas commented on #77
Nothing yet :/ Let's see if I receive the email over the rest of the afternoon.

[2016-04-20 15:49] apercas commented on #93
Updated:
![image](https://cloud.githubusercontent.com/assets/704210/14681116/19d08298-0720-11e6-9545-a490c9befc92.png)

The new center is set as Lat: 14.264383, Long: 25.8398437.

[2016-04-20 15:50] apercas commented on #94
Updated there.

[2016-04-20 15:57] vdeparday commented on #93
I would just go just slightly more right so that we have FJ (Fidji) in too. Thank you.

[2016-04-20 15:58] vdeparday commented on #94
Let's finalize this one in the other issue so closing here.

[2016-04-20 15:58] #94 closed, assigned to vdeparday

[2016-04-20 16:05] apercas commented on #98
Oh, ok, the content that is stored in the CartoDB table (https://opendri.cartodb.com/tables/wp_projects) has a Description field that saves an excerpt of the body of the project. We could either add more lines to the displayed content, add an ellipsis... What would you prefer?

[2016-04-20 16:06] apercas commented on #93
Take into account that this a very wide screen resolution and not all the users will see the same amount of map, if we open this on an iPad, for instance, the resolution is narrower.

[2016-04-20 18:32] vdeparday commented on #93
It is great now. Yes, I check on my phone and you can still catch most of Central America and Pacific is getting cut a bit but it fine. Thank you !

[2016-04-20 18:32] #93 closed, assigned to vdeparday

[2016-04-20 18:39] vdeparday commented on #98
Any way we can enter the pop content from a wordpress field ? Or maybe it
could be the content of that new box. Let me think about it with Robert and
Shanika.

On Wed, Apr 20, 2016 at 12:05 PM, Adrián notifications@github.com wrote:

[2016-04-20 22:00] shanikadhettige commented on #77
What exactly needed to be done? Maybe it was more nuanced than working with
OK'ing the confirmation email forms on Mail Chimp.

[2016-04-21 07:59] apercas commented on #98
There is an `excerpt` field below the content of each project page:
![image](https://cloud.githubusercontent.com/assets/704210/14701846/a81b5c80-07a7-11e6-8349-d11f2362740d.png)

Maybe we can make use of that.

[2016-04-21 08:56] apercas commented on #113
Updated: http://localhost:8888/odri/project/project-box/

[2016-04-21 10:14] apercas commented on #62
We re-used the original static page and added fake content and new styles: http://opendri.simbiotica.es/resources/

You can manually add resources there and link them to an external or internal source, even tag them.

[2016-04-21 11:32] apercas commented on #99
Hello again, I've added related news and resources to the Project Box project, http://opendri.simbiotica.es/project/project-box-example/

Here's the result:
![image](https://cloud.githubusercontent.com/assets/704210/14707426/166e8f1e-07c5-11e6-8db0-1ede1c0556c8.png)

Now we have Recent News below, @shanikadhettige mentioned she wanted to use this space to link another related news but that would b

[2016-04-21 21:55] vdeparday commented on #99
This looks good to me. Actually, from our discussion last time, we will no longer have related resources, only related news. I guess we can keep it if we need it in the future but we should make sure that "related resources" doesn't appear if there are not related resources.

Yes, you are right, we do not need recent News at the bottom of the page now. I think it is fine if we just have the footer

[2016-04-21 21:59] vdeparday commented on #62
I think it is almost there. I think we do not need the featured guide at the top. I think we could use a smaller version of the featured one as the list items below? This way we can include the publication cover/pictures ? And this we can decide when we include a picture or not too.

Could we also have less space between each section? We should have publication at the top too but I suppose we can

[2016-04-21 22:00] vdeparday commented on #113
I am not sure on the link to localhost ;) but the screenshot in issue #99 looks good to me.

[2016-04-21 22:02] vdeparday commented on #98
Yes, I think that could work. Can use html and css in there to format the
content?

On Thu, Apr 21, 2016 at 3:59 AM, Adrián notifications@github.com wrote:

[2016-04-21 22:02] vdeparday commented on #77
@shanikadhettige can you look into mailchimp and see if everything is set up correctly for the confirmation letter? I think you can do some testing by trying to register through the website.

[2016-04-22 07:50] apercas commented on #113
Ha! My fault! This is the URL I meant to paste http://opendri.simbiotica.es/project/project-box-example/ But glad it is OK! Closing :)

[2016-04-22 07:50] #113 closed, assigned to vdeparday

[2016-04-22 08:23] apercas commented on #99
Yes, the related resources for a project won't show up if the custom field is empty, I'd leave the option there just in case, as you said, you'll want to add them.

About the recent news, should we remove them just for resources? ( + @sergioestella ) Let me know, thanks!

[2016-04-22 08:38] apercas commented on #98
We can but I wouldn't recommend it as the purpose of the excerpt is to have a couple lines that introduces briefly the project and invite the user to view the project itself. Otherwise could be distracting. But feel free to add it if you think differently.

Let me know if we're using definitely this field so I change the back-end process to start feeding the CartoDB table using the excerpt box. (T

[2016-04-22 08:42] apercas commented on #101
Closing.

[2016-04-22 08:42] #101 closed, assigned to shanikadhettige

[2016-04-22 08:47] apercas commented on #48
Continues on #103

[2016-04-22 08:47] #48 closed, assigned to apercas

[2016-04-22 08:48] apercas commented on #62
Ok, let's talk about this later on.

[2016-04-22 10:40] sergioestella commented on #99
Let's discuss this in our meeting this "morning".

[2016-04-22 14:33] vdeparday commented on #77
@apercas I just tried to register and it works but it went to the spam in my gmail. Can you check your spam? Either way, we need to make sure that it doesn't end up in spam.

[2016-04-22 14:37] apercas commented on #77
Ha!! How dumb I am... It works. I don't know why it was filtered as SPAM either...

[2016-04-22 15:05] apercas commented on #103
Hi! Updated http://dev-gfdrr-opendri.pantheonsite.io/about/ :)

[2016-04-22 15:05] #103 closed, assigned to nobody

[2016-04-22 15:15] vdeparday commented on #90
The World Bank logo as it doesn't look very good. I am thinking that it may be enough to have it in the related webpage. Can we just delete the one that is by itself and move the related pages to be the last section before the footer ? Thank you.

[2016-04-22 15:25] shanikadhettige commented on #77
Now that it works, are you all happy with the content of the letters?
I don't know how to make it not be spam... Doesn't that depend on the user's preferences?

Shanika

[2016-04-25 10:01] apercas opened #115 "Mobile Project Box issue"
This has been fixed:

![image](https://cloud.githubusercontent.com/assets/704210/14780483/5a611fbe-0add-11e6-9a28-c55cf556c3e5.png)

[2016-04-25 10:02] apercas opened #116 "Sri Lanka's example of related news"
Fixed here: http://opendri.simbiotica.es/project/sri-lanka/

![image](https://cloud.githubusercontent.com/assets/704210/14780544/9382b956-0add-11e6-99e8-1c82abd46b40.png)

[2016-04-25 10:02] #116 closed, assigned to apercas

[2016-04-25 10:04] apercas opened #117 "Take resources out of sidebar and remove recent news block"
Done :)

http://opendri.simbiotica.es/project/sri-lanka/

[2016-04-25 10:04] #117 closed, assigned to apercas

[2016-04-25 15:17] vdeparday commented on #115
Looks good. It would be great if the heading (Counterpart for instance could be valign top or middle.

[2016-04-27 16:07] danicaso-vizzuality commented on #82
Hi @shanikadhettige ,
Sorting out this issue, taking it up from the beginning, The png version of each logo are meant to be used anywhere (e-mail, word, etc.) without using Illustrator or any other program. So that issue would be sorted out without including these last versions.
I would recommend get rid of these last versions in order keep it as simpler as possible avoiding confusion when a user

[2016-04-27 16:31] apercas commented on #115
Done :)

[2016-04-27 16:31] #115 closed, assigned to apercas

[2016-04-27 16:32] apercas commented on #99
I think we can close this, can we?

[2016-04-27 16:59] #91 closed, assigned to rsoden

[2016-04-27 17:04] apercas commented on #90
There are a lot of things meant to be place down there, haha, I guess it's better if you move the desired content directly.

[2016-04-27 17:35] vdeparday commented on #99
Yes, I think that is fine.

[2016-04-27 17:35] #99 closed, assigned to vdeparday

[2016-04-27 17:40] vdeparday opened #118 "Put only one explore project button under the pillars on the about page that is centered"
In the about page, the explore projects look a bit weird:

![image](https://cloud.githubusercontent.com/assets/1036189/14861971/857ac064-0c7d-11e6-8393-6a7b0c53d989.png)

Can we just just put one that is a bit wider and centered?

[2016-04-27 17:40] vdeparday commented on #90
Ok I will try, and let you know if I have some issues.

[2016-04-27 17:47] vdeparday opened #119 "Changing order of menu items on resources and about page?"
What is the best way for us to change the order of the menu items? For instance we will need Publications before Notes and Related Webpages at the end.

[2016-04-27 17:52] apercas commented on #119
Hi, just copy and paste (move) the text / html from the editor view :)

[2016-04-27 17:52] vdeparday commented on #102
It can be contact and then related webpages.

[2016-04-27 17:56] vdeparday opened #120 "Reorganize the layout for the explore all button"
![image](https://cloud.githubusercontent.com/assets/1036189/14862485/a966a1d0-0c7f-11e6-949b-1c643c39d0b2.png)

![image](https://cloud.githubusercontent.com/assets/1036189/14862507/c421f5e2-0c7f-11e6-845c-53c91501d293.png)

We mentioned that we would put a card instead of the button and then add something on the right of the title to explore all.

[2016-04-27 17:59] vdeparday opened #121 "All the pictures from the news are missing on production website"
On http://dev-gfdrr-opendri.pantheonsite.io/ the pictures were not ported or maybe that is when the new thumbnail link was introduced. Can we restore the pictures that were there originally?

[2016-04-27 21:11] vdeparday opened #122 "Issue with the highlighting in the about menu"
![image](https://cloud.githubusercontent.com/assets/1036189/14868314/fc47efc4-0c9a-11e6-8336-07afcd3c47f4.png)

Also some of the items linked to the wrong anchors.

Is that all stuff we can fix from the editor directly? Will look at it more.

[2016-04-27 21:12] vdeparday opened #123 "Partners over three columns"
Right now, it forces to scroll down a lot, could we put three partners per line?

[2016-04-28 08:51] apercas commented on #122
Hello, I checked the anchors for the about menu and wasn't able to find any error on them, could you please elaborate the issue?

About changing the behaviour from WP, yes, each anchor points to its referenced `id`, so you'll just have to rename the `id` field of the box you want to link, please let me know if you want to dig deeper on this. For the bar itself we'll need to edit the `page.php` of

[2016-04-28 10:05] apercas commented on #121
For what I see, WP doesn't export and link the featured image field. If the news on the simbiotica site are OK we can try to pull them on the Pantheon site, if this fails, we'll have to go news by news, I'm afraid :(

[2016-04-28 10:58] apercas commented on #120
On it.

[2016-04-28 10:58] apercas commented on #123
Noted, I'll keep you posted.

[2016-04-28 11:39] danicaso-vizzuality commented on #118
Each button links to projects filtered by each pillar. Then, I would recommend to change the text specifying this, and replace buttons with less prominent links. Let me know your thoughts about this:

![explore links](https://cloud.githubusercontent.com/assets/7532239/14884728/2a4d2f5e-0d47-11e6-9b1b-de18f2c570fd.png)

[2016-04-28 11:47] apercas commented on #120
Hi again, done here https://github.com/Vizzuality/openDRI/pull/124, deployed: http://dev-gfdrr-opendri.pantheonsite.io/

[2016-04-28 14:32] apercas commented on #123
Done.

[2016-04-28 15:48] #123 closed, assigned to apercas

[2016-04-29 02:59] vdeparday opened #125 "Integrate OpenDRI video"
I just realized that we forgot to put a spot for the video that we are finalizing. It is a video that explains our program in 100 seconds. It could be just an mp4 or we could host it on youtube. Where do you think we should it ?

[2016-04-29 03:01] vdeparday commented on #118
I think we can just replace by one button similar to before but a bit
larger and centered and make it links to the project page without filtering

On Thu, Apr 28, 2016 at 10:33 AM, Adrián notifications@github.com wrote:

[2016-04-29 03:04] vdeparday commented on #121
The news on simbiotica are also missing all the pictures that were there
before.

On Thu, Apr 28, 2016 at 6:05 AM, Adrián notifications@github.com wrote:

[2016-04-29 03:07] vdeparday commented on #120
I like the new layout except for the button View All News and View All Project, they look a bit out of place ? I was thinking something near News more to the left  (a bit like the Explore all news that we have on a given news), do the designers have a good idea ?

We also need to reorganize the layout on the project page: http://dev-gfdrr-opendri.pantheonsite.io/project/

[2016-04-29 03:10] vdeparday commented on #122
It seems like it is working normally now. There is one thing that is weird,
on the resources page the section comes to the middle of the page but on
the about page, it comes right at the top. Could make it so that it comes
to the top but right at the top, a couple pixels down.

On Thu, Apr 28, 2016 at 7:32 AM, Adrián notifications@github.com wrote:

[2016-04-29 03:49] vdeparday commented on #120
Maybe the Explore all news could be at of the News section (Explore all projects at the end of the project) so that it is clear that it is just a subset.

[2016-04-29 08:19] apercas commented on #122
Oh! Sorry, my bad! I forgot to add some style fixes I made, deployed :)

[2016-04-29 08:25] apercas commented on #121
In that case I have no idea, we didn't change anything content-related there but export data. (Although I can see pictures here http://opendri.simbiotica.es/how-do-you-start-mapping-unmapped-streets/. Is this OK?)

[2016-04-29 09:24] apercas commented on #98
How are we doing this eventually? Thanks.

[2016-04-29 09:41] apercas commented on #102
Done: http://dev-gfdrr-opendri.pantheonsite.io/about/

[2016-04-29 09:41] #102 closed, assigned to nobody

[2016-04-29 09:51] danicaso-vizzuality commented on #125
As this video is an explanation about the project, the About page would be a proper place to show it. An optional link from the Home page could be placed on the introductory module:
![odri-video](https://cloud.githubusercontent.com/assets/7532239/14913022/542b6368-0e00-11e6-8be2-017715167a20.jpg)
![odri-video-link](https://cloud.githubusercontent.com/assets/7532239/14913026/57ada5fa-0e00-11e6-9b15

[2016-04-29 09:55] apercas commented on #125
Also, the sooner you could get us the link to the Youtube video, the better :)
Thanks!

[2016-04-29 10:01] danicaso-vizzuality commented on #120
We could include a centered button at the and of each module like this:
![all-1](https://cloud.githubusercontent.com/assets/7532239/14913253/002d9180-0e02-11e6-85db-5a8efcaa0f36.png)
![all-2](https://cloud.githubusercontent.com/assets/7532239/14913254/00311562-0e02-11e6-991b-197e8d163a35.png)
How do you find this?

[2016-04-29 10:32] danicaso-vizzuality commented on #118
These current links come in relation with each pillar as part of its explanation, guiding the user through the process of discovering each one. In terms of narrative, a link to explore all projects would be out of context there.
If, despite this, we still want to add it we could use the style from the proposal for this kind of link for Home page: https://github.com/Vizzuality/openDRI/issues/120#is

[2016-04-29 17:01] vdeparday commented on #120
That looks really good, thank you !

[2016-04-29 17:07] vdeparday commented on #102
I still see in the same place but anyway I will try to fix those directly on Monday when I have time to dig into a bit more.

[2016-04-29 17:10] vdeparday commented on #121
I can see the picture here but not in the thumbnail, for instance here,
there are not pictures:
http://dev-gfdrr-opendri.pantheonsite.io/category/news/ or on the home
page. So I suppose we need go to through each news and link the thumbnail
to the picture of our choice since you added the field? Could it be filled
by default with the banner one and we can change just in case?

On Fri, Apr 29, 2016

[2016-04-29 17:13] vdeparday commented on #122
Thank you for updating it on the resources page, It is looking good. Just
one little detail, could we change the about page slightly so that it is
the same spacing at the top of the title when scrolling down to it? On the
resources page, there is a couple pixel above the title but on the about
page, the menu is almost on top of the tittle.
Thank you.

On Fri, Apr 29, 2016 at 4:19 AM, Adrián notifi

[2016-05-02 18:49] vdeparday commented on #56
@apercas how are we supposed to fix the image formatting issue for the partners' logo? Are we supposed to change the dimensions in the html for each of them or is that a css issue?

The partners' section look messy as a whole. Can we have them in boxes like the related webpages ?

[2016-05-02 18:52] vdeparday opened #126 "Cannot click on the map when logged in as admin"
As we mentioned last time, when logged in as admin, we cannot click on the map.

[2016-05-02 19:06] shanikadhettige opened #127 "Firefox Error with Project Box Metrics"
Hi @apercas
As seen in the screenshot below there is a problem with the titles hanging over the metric numbers in the project box.
It appears to only be a problem in Firefox and not in Chrome as is not an issue of the size of the window. I'm not sure about other browsers.

![screen shot 2016-05-02 at 2 42 35 pm](https://cloud.githubusercontent.com/assets/17725960/14964009/72bfec92-1074-11e6-8793-6

[2016-05-02 20:10] shanikadhettige opened #128 "Spacing of Metrics in Project Box"
@apercas
I'm running into an issue with the spacing when there are fewer than three metrics listed. See attached screenshot.
Would it be possible to have them closer together or spaced differently?
Thanks
![screen shot 2016-05-02 at 4 08 12 pm](https://cloud.githubusercontent.com/assets/17725960/14966438/5c0929bc-1080-11e6-896d-febc4229f328.png)

[2016-05-02 20:40] shanikadhettige opened #129 "Project Box GeoNode Link Routing Error"
@apercas
When I use the following code (for example) for the project box, the hyperlink for DATA SHARING PLATFORM that is supposed to go to the GeoNode doesn't actually take you to that URL, it just takes you to the project page in screenshot below. Do I have to link the URL manually or something?

@vdeparday Is this on purpose?

<div class="project-box">

Morbi leo risus, porta ac consectetur ac,

[2016-05-02 21:21] vdeparday commented on #98
Yes, using the excerpt field works. Thank you.

On Fri, Apr 29, 2016 at 5:24 AM, Adrián notifications@github.com wrote:

[2016-05-02 21:22] vdeparday commented on #125
That looks good. Thank you. The current length is 1:15 so I think we can
update this to say 110 seconds.

On Fri, Apr 29, 2016 at 5:55 AM, Adrián notifications@github.com wrote:

[2016-05-02 21:22] vdeparday commented on #118
Ok, then I think keeping the original button is fine but just lining them
up vertically so it looks better. Thank you.

On Fri, Apr 29, 2016 at 6:32 AM, Daniel Caso notifications@github.com
wrote:

[2016-05-02 21:43] shanikadhettige commented on #129
Fixed.

[2016-05-02 21:43] #129 closed, assigned to apercas

[2016-05-02 22:09] shanikadhettige commented on #127
Actually having the issue with some on Chrome

Also, to look less messy can we have "DATA SHARING PLATFORM" fit on one line?
![screen shot 2016-05-02 at 6 07 02 pm](https://cloud.githubusercontent.com/assets/17725960/14969552/fdf10ba4-1090-11e6-819c-2cdb1e457653.png)

[2016-05-02 23:01] vdeparday commented on #119
I suppose you mean in github? because I don't see a way of editing that part of the page in wordpress

[2016-05-02 23:07] vdeparday commented on #62
After adding a couple document manually:
- what is happening with the tags? Is it still worth having them? Are they searchable in anyways?
- I would like to a simple text below the title (before the Tags, if we keep them). What html tag should I use?
- what is the best way to do the thumbnail sizing? I uploaded the image to the media and then used the link generated there as the src for the <img>

[2016-05-02 23:09] vdeparday commented on #69
Any update on this one? Yes, better to get the design team involved?

[2016-05-02 23:14] vdeparday commented on #90
I have tried to move the content but I am having some div issues, It is not showing up properly. Really hard to see where the div open and closes in the online editors and I don't have an html editor on this computer. This is the order we would like:
- Our Principles
- The Team
- Partners
- Newsletter
- Contact
- Related Web pages

Could reorder the content and the menu this way? Thank you very mu

[2016-05-03 04:32] shanikadhettige opened #130 "Some GeoNode Links Don't Work"
@vdeparday @rsoden

Links for the following GeoNodes don't work (this will be updated):
http://geonode.gov.vc/

**Should I not include them?
Do you know what's wrong with them?**

[2016-05-03 08:12] apercas commented on #126
Yes, we noticed this long ago. There is an issue with the top-bar WordPress provides and the map that is not easy to isolate and fix and even doing that, any WordPress update could overstep this fix.

[2016-05-03 08:24] apercas commented on #77
I shared this over Basecamp but maybe is helpful here as well http://mailchimp.com/resources/guides/how-to-avoid-spam-filters/html/

[2016-05-03 08:31] apercas commented on #98
Working on the back end of this.

[2016-05-03 09:04] apercas commented on #98
![image](https://cloud.githubusercontent.com/assets/704210/14978770/78891a22-111e-11e6-841b-e5d1811a52c8.png)
![image](https://cloud.githubusercontent.com/assets/704210/14978851/f2d73606-111e-11e6-8943-88aa5fa07e24.png)

Done. That example's been deleted from the CartoDB table. We're using the old field (the proper content) as fallback just in case the `excerpt` field is empty. Please feel free to

[2016-05-03 10:03] apercas commented on #118
Done.

[2016-05-03 10:03] #118 closed, assigned to apercas

[2016-05-03 10:50] apercas commented on #90
Sure, done. I've added a WordPress plugin to highlight the `HTML` syntax so is easier for you to look at the content :)

[2016-05-03 10:50] #90 closed, assigned to apercas

[2016-05-03 10:53] apercas commented on #119
Yes, sorry, my fault, here you are: https://github.com/Vizzuality/openDRI/blob/master/page.php

[2016-05-03 10:54] apercas commented on #120
On it.

[2016-05-03 11:22] apercas commented on #120
Applied: http://dev-gfdrr-opendri.pantheonsite.io/

[2016-05-03 11:34] apercas commented on #121
On it.

[2016-05-03 13:28] apercas commented on #121
Sure, I just added that feature: using the featured image as a fallback for those cases when the news has a banner but not a thumbnail. Please try it and close when ready.

[2016-05-03 14:55] apercas commented on #122
True. Re-measured. Deployed.

[2016-05-03 16:25] apercas commented on #125
Button added.

[2016-05-03 17:09] apercas commented on #127
Sure, we fixed the styles for the mockup, deployed: http://dev-gfdrr-opendri.pantheonsite.io/project/sri-lanka/

[2016-05-03 17:10] apercas commented on #128
Fixed on #127

[2016-05-03 17:10] #128 closed, assigned to apercas

[2016-05-03 17:27] apercas commented on #62
Hi,
- Tags: They are transversal for the whole content-set, we display the kind of content in a corner:
  ![image](https://cloud.githubusercontent.com/assets/704210/14991729/156c2156-1163-11e6-9f90-de83e1e88180.png)
  http://dev-gfdrr-opendri.pantheonsite.io/tag/report/
- Text below title: The most suitable one is `<span>` with no class applied
- Thumbnails: We fixed that styling so you won't have

[2016-05-03 17:54] apercas commented on #69
Hi, they've come to this approach, although we don't have the outlines of the regions (is there a way you could provide us that data in a shapefile or any other geospatial format?)

![projects-country-3](https://cloud.githubusercontent.com/assets/7532239/14992840/5195d226-1168-11e6-99ba-6b51ce9ff142.jpg)

Is the only difference is the type of project, we suggest adding a check on the form that say

[2016-05-03 18:14] vdeparday commented on #69
Ok, that sounds good, we will send you the shapefiles for the regional
projects.

On Tue, May 3, 2016 at 1:54 PM, Adrián notifications@github.com wrote:

[2016-05-03 18:15] vdeparday commented on #69
@apercas I suppose the boundaries used in the map are from OSM?

@shanikadhettige would you be able to do it? You could also just use geojson.io to draw them. Otherwise, I can send you the World Bank boundaries file otherwise.

[2016-05-03 18:24] vdeparday commented on #62
- So even if we are not using the resource type of content any more. The tags still work ?
- Ok I will use a span
- Ok, will try to add more picture and will let you know if there are any issues.
- Let us think about the home page, I think we still want something similar, showcasing one or two publications and then a list with a "Explore all resources at the bottom"

[2016-05-03 18:25] vdeparday commented on #83
cc @rsoden

[2016-05-03 18:26] vdeparday commented on #130
You should not include them. Can you maintain a list of the one that are not longer working? We may want to take down the whole project page in that case but let's see.

[2016-05-03 18:28] vdeparday commented on #92
I think it is fine for the News page (although a bit less page between News and the first two NEws would be nicer). But the project page still need an adjustment to the layout.

[2016-05-03 18:30] vdeparday opened #133 "Update homepage text and reduce image size"
Could we replace the text in the box with:

OpenDRI brings the philosophies and practices of the global open data
movement to the challenges of reducing vulnerability and building
resilience to natural hazards and the impacts of climate change across the globe

Could we reduce a bit the image size? On my big screen, it takes the whole space and you cannot see that they are things below. Or is that

[2016-05-03 18:31] vdeparday commented on #125
Looks good. We will send you the video once we have the final version.

[2016-05-03 18:35] vdeparday commented on #122
Thank you, it is looking good on the About page. On the resource page, the
space at the top is random, sometimes it is in the middle of the page (for
publication and newsletters) but it is fine for the others.
Could we also Publications before Notes in the menu order? Thank you

On Tue, May 3, 2016 at 10:55 AM, Adrián notifications@github.com wrote:

[2016-05-03 18:36] vdeparday commented on #121
@shanikadhettige: can you try this new feature?

[2016-05-03 18:46] vdeparday commented on #120
Looks good, thanks !

[2016-05-03 18:46] #120 closed, assigned to vdeparday

[2016-05-03 18:48] vdeparday commented on #119
Just submitted a PR. You can merge and close the issue if it looks good.

[2016-05-03 18:50] vdeparday commented on #98
Ok sounds good. Thank you.

[2016-05-03 18:50] #98 closed, assigned to vdeparday

[2016-05-03 18:51] vdeparday commented on #77
Did you try some of those? I shared the credentials with you. If you need me to have a look, let me know. We could potentially change the email address to use something else.

[2016-05-03 18:52] vdeparday commented on #98
One quick request if possible, could we change the help text below? It currently says " excerpts are optional .... "
Could we say: "The excerpt content is used to populate the pop-up on the map"

This one, it will be more clear once more people start adding content.

Thank you

[2016-05-03 18:53] vdeparday commented on #126
So the suggestion is wont-fix ?

[2016-05-04 08:49] apercas commented on #119
Done, thank you! :)

[2016-05-04 08:49] apercas commented on #122
Change applied over your PR, fixed :)

[2016-05-04 11:22] shanikadhettige commented on #77
Hi all,
Since the timelines have lined up for this such that this is also the final week before my thesis colloquium presentation and I'm trying to get everything out to print, things are incredibly hectic at the moment.
@vdeparday I haven't had a chance to try, do you think you could figure this one out?
Many thanks,
Shanika

[2016-05-04 11:25] shanikadhettige commented on #130
@vdeparday They are the ones in the spreadsheet that are marked with a yellow box. I can migrate the list to here shortly

[2016-05-04 11:49] apercas commented on #133
Done, text changed and image reduced.

[2016-05-04 12:06] shanikadhettige commented on #130
Here is the list of GeoNode links that don't exist or work:
Mozambique
St. Vincent and the Grenadines
Yemen (no link listed)
They are still referenced in projects but links have been removed.

Also keep in mind that the following links work but one cannot see the data OR cannot number of layers and other metrics without logging in:
Colombia
Jamaica
St. Lucia
Sri Lanka

If OK please close.

[2016-05-04 12:10] shanikadhettige commented on #82
Yes I understand that the PNGs are good for e-mail, word, etc but the problem was that the ones that are white were coming with a transparent background so on a white page they can't be seen, right? If we just swap out the files that is also fine.

[2016-05-04 12:41] shanikadhettige commented on #127
@apercas Thanks but can you make the space between each metric about one cm bigger at least and maybe increase the width of the text per line? See in the following images where the longer titles look messy and the "units" sections from different metrics run into each other.
Much appreciated!

![screen shot 2016-05-04 at 8 38 04 am](https://cloud.githubusercontent.com/assets/17725960/15014359/99409

[2016-05-04 13:33] apercas commented on #127
Updated.

[2016-05-04 14:03] apercas commented on #126
Hi again, for security reasons I'd rather have the WordPress updatable (something the CMS will do automatically) and if we change the code of WordPress any update will remove this change. Furthermore, the change itself could be a possible security flaw (interacting with WP's top nav-bar).

The quickest workaround we use is using two different browsers (let's say Chrome and Safari) or an incognito

[2016-05-04 20:03] shanikadhettige commented on #67
@apercas Hyphenation is happening on Firefox as seen in these sections of the About page, may be happening elsewhere as well.
![screen shot 2016-05-04 at 3 57 25 pm](https://cloud.githubusercontent.com/assets/17725960/15027434/bf1214be-1211-11e6-8ae3-1334aff8bb8f.png)
![screen shot 2016-05-04 at 3 57 38 pm](https://cloud.githubusercontent.com/assets/17725960/15027432/bf0dd17e-1211-11e6-9021-f3a85c

[2016-05-04 20:05] shanikadhettige commented on #90
@vdeparday Having taken a look at it like this I think it would be best for Related Webpages to go between Partners and Newsletter given the sizes of the different boxes. We also still need to have the Partners text put in boxes and cut off re: #56.

[2016-05-04 20:06] shanikadhettige commented on #78
@vdeparday Please find the following files created/revised and uploaded as resources and let me know that all is OK.
- [Community Mapping Factsheet](http://dev-gfdrr-opendri.pantheonsite.io/resource/873/) _Notes_
- [Sharing Data Factsheet](http://dev-gfdrr-opendri.pantheonsite.io/resource/sharing-data-factsheet/) _Notes_
- [GeoNode Deployment Guide](http://dev-gfdrr-opendri.pantheonsite.io/resourc

[2016-05-04 20:07] shanikadhettige commented on #127
Wonderful, thank you!

[2016-05-04 20:07] #127 closed, assigned to shanikadhettige

[2016-05-04 20:10] #79 closed, assigned to shanikadhettige

[2016-05-04 20:17] shanikadhettige commented on #60
@rsoden Could you help with the following?
1. Write up blurbs about each country's risk exposure for the Understanding [Country’s] Risk section of each project page
2. Write/choose one sentence to use in the Project Box for each country to use as the excerpt (replace dummy text)
3. Adding information about Using Data to Projects wherever you think it's missing

Project Boxes have been added for al

[2016-05-04 20:18] shanikadhettige commented on #69
@vdeparday Will first try to get all the content up for the countries that are already posted first and re-add all the news photos etc so the site looks more complete and polished, then will attempt these after.

[2016-05-04 20:21] shanikadhettige commented on #52
@vdeparday @apercas @andresgnlez Is this still happening?

[2016-05-04 20:31] vdeparday commented on #52
yes, the designers working on the hard copy publications will design those and I will send them as soon as they are done. I am just leaving the ticket open to make sure we send you the graphics.

[2016-05-04 20:42] shanikadhettige commented on #99
@vdeparday @apercas
But now related resources are not showing even when the custom field and link for a resource is added e.g. [Nepal](http://dev-gfdrr-opendri.pantheonsite.io/project/nepal/)
![screen shot 2016-05-04 at 4 39 03 pm](https://cloud.githubusercontent.com/assets/17725960/15028431/f1c26ed6-1216-11e6-9392-de5f5291a152.png)
![screen shot 2016-05-04 at 4 39 16 pm](https://cloud.githubuserc

[2016-05-04 20:47] vdeparday commented on #69
Sounds like a good plan

[2016-05-04 20:56] shanikadhettige commented on #84
[Added](http://dev-gfdrr-opendri.pantheonsite.io/resource/review-of-open-source-and-open-access-software-packages-available-to-quantify-risk-from-natural-hazards/)

[2016-05-04 20:56] #84 closed, assigned to nobody

[2016-05-04 21:15] vdeparday commented on #78
Great ! Thank you. Just some quick fixes:
for the community mapping one, can we update the reference to the Open Cities guied to refer to the OpenDRI website (it will be easier for people to find).

For the deployment guide, can we use blue instead of red? The same as in the website boxes and heading? It will be more consistent.

No need to add under the pillars for now but we can add them in the

[2016-05-04 21:19] vdeparday commented on #90
I think related webpages still need to be at the end. The aesthetic should not influence the logical order. The boxes size does look weird. We need to make look more consistent. @apercas , could you look into that with the designers?

Yes agreed with the partners. It is already mentioned in #56 so let's keep track of this issue there.

[2016-05-04 21:20] vdeparday commented on #56
@apercas, just following up on this one, could we tidying up the partner section images and text by using boxes ? Similar to related webpages and elsewhereo n the website.

[2016-05-04 21:22] vdeparday commented on #126
Ok, that makes sense. If possible, the PR could be submitted upstream in WordPress so that it doesn't get broken at each update. If that is not possible, then we should add that work around in the documentation for website contributors.

[2016-05-04 21:23] vdeparday commented on #130
Ok, the regional teams will follow up on those to update with the latest
information.

On Wed, May 4, 2016 at 8:06 AM, shanikadhettige notifications@github.com
wrote:

[2016-05-04 21:29] vdeparday commented on #133
Thank you, looks good.

[2016-05-04 21:29] #133 closed, assigned to vdeparday

[2016-05-04 21:31] vdeparday commented on #77
@shanikadhettige , I meant to say @apercas, have you tried any of this? He had offered to help us out once provided with the credentials which I sent in private. I will have a look through though.

[2016-05-04 21:32] vdeparday commented on #122
Still see the same issue with Newsletter.

On Wed, May 4, 2016 at 4:49 AM, Adrián notifications@github.com wrote:

[2016-05-04 21:42] shanikadhettige commented on #78
Made the changes and reuploaded.
- Community Mapping Factsheet now references Guide found at www.opendri.org under Resources
- Tried the red for deployment guide since before you weren't sure if everything was too blue but I prefer the blue also.

Closing now.

[2016-05-04 21:42] #78 closed, assigned to shanikadhettige

[2016-05-04 21:58] vdeparday commented on #62
I have added two new pictures. For the two first guides, and the first one looks good but the second one looks weird, although the second is actually an A4 whereas the first one is a weird format.

[2016-05-05 09:51] danicaso-vizzuality commented on #82
That is the aim of having multiple color options to download. For most of the cases, the standard version will be the right one. The other ones are meant to be used over darker backgrounds.

That said, and if you agree with it, we will proceed to get rid of those versions with background embebed.

[2016-05-05 19:19] vdeparday commented on #62
@apercas, sorry for the back and forth on this one. After using it  more, we think it makes more sense to keep using the content type with the new template to visualize the resource so to summarize, can we get:
- Use the Resource content type
- The attribute for this content type should be
  1) Category that be can: a) Guides b) Short Notes c) Newsletter d) Tools and Training Material e) Other res

[2016-05-05 19:23] vdeparday commented on #82
@danielcasius I think there is a misunderstanding. It is great to have the option with and without background. The only issue is that we have this option only for two logos OpenDRI Standard and Color Negative. We would need to have the option to download with background for the logo OpenDRI white as well as for the other logos: CfR, UR, etc...
Does that make sense?

[2016-05-06 15:23] tiagojsag commented on #99
hi, @shanikadhettige

this regression is due to https://github.com/Vizzuality/openDRI/issues/117 that @apercas created and fixed a few weeks ago. I am assuming that it resulted from a request someone made, in which case we should review this sidebar and come to a final specification for its behavior.

Let me know how we should proceed.
thanks

[2016-05-06 18:49] shanikadhettige opened #135 "Move video to center of post"
I'm having trouble moving the video in this post so it is aligned to the center. Could you help?
http://dev-gfdrr-opendri.pantheonsite.io/indonesia-helping-build-resilient-communities/
Thank you!

[2016-05-06 22:03] shanikadhettige commented on #121
@vdeparday
All pics have been re-placed and new ones have been added with different images for banner versus blogpost. All thumbnails are filled except one with a placeholder grey image. Almost all posts have banners except a few where a file with good enough resolution was not available, these also have grey placeholders to be filled in by country teams wherever possible.

[2016-05-06 22:03] #121 closed, assigned to vdeparday

[2016-05-06 22:44] vdeparday commented on #121
Thank you !

[2016-05-10 07:49] apercas commented on #135
Sure, no prob. Done :)

[2016-05-10 07:49] #135 closed, assigned to apercas

[2016-05-10 09:08] apercas commented on #122
Done.

[2016-05-10 09:09] #119 closed, assigned to vdeparday

[2016-05-10 10:40] apercas commented on #62
Hi, I took notes of everything and I'm starting a redux of the resources section, I'll get back when finished.

[2016-05-10 13:56] vdeparday commented on #122
Thanks !

[2016-05-10 13:56] #122 closed, assigned to vdeparday

[2016-05-10 20:00] vdeparday commented on #62
I saw the PR, but it doesn't look like the resources page is pulling
automatically yet. Can you give us an update? thank you.

On Tue, May 10, 2016 at 6:40 AM, Adrián notifications@github.com wrote:

[2016-05-12 11:00] apercas commented on #62
Hi, I managed to deploy this to the staging environment just for checking is working OK and I'm testing it there before going to pro. I created some fake resources as well to feed the lists. We'll get back to you when we pull this features on the Pantheon server.

[2016-05-12 16:06] vdeparday commented on #125
The video is now available here: https://www.youtube.com/watch?v=DlgEhfX6XwU
You can go ahead an integrate it.

Thank you.

[2016-05-12 16:09] vdeparday commented on #62
Great, thank you. That is really the only main piece that is missing. Do
you think you can deploy to production today? It would be nice how the
current resources feed into it.

Best,

Vivien

On Thu, May 12, 2016 at 7:00 AM, Adrián notifications@github.com wrote:

[2016-05-12 18:32] vdeparday commented on #125
Sorry, this is the final one: https://youtu.be/-ImINBEeiIs

[2016-05-12 19:19] shanikadhettige commented on #125
Looks so good!

Quick question: why is the webpage at the end gfdrr.org rather than
opendri.org?

On Thu, May 12, 2016 at 2:32 PM, Vivien Deparday notifications@github.com
wrote:

[2016-05-12 19:22] vdeparday commented on #125
Good point. Since it is not live yet and because they should be able to
find their way from GFDRR.
On May 12, 2016 15:19, "shanikadhettige" notifications@github.com wrote:

[2016-05-12 20:04] apercas commented on #62
Hi, sure, deployed. Sorry for the delay, I've gotten some internet connectivity problems today.

[2016-05-12 20:11] vdeparday commented on #62
Thank you, we will be testing it now. Can you remove the text at the top
and put the first section closer to the top? There is a lot of white space
right now.

On Thu, May 12, 2016 at 4:04 PM, Adrián notifications@github.com wrote:

[2016-05-12 20:56] vdeparday commented on #62
Overall, it is looking pretty good so far, one issue @shanikadhettige found is that if there is an odd number of resources the tags split across the columns. See screenshot:

![screen shot 2016-05-12 at 4 53 17 pm](https://cloud.githubusercontent.com/assets/1036189/15230195/7e7d7fd6-1862-11e6-906b-d7864a2d5e39.png)

[2016-05-12 21:08] shanikadhettige commented on #62
Just realized it is not splitting from the resource next to it but pulling
from the most recently posted resource, I think. It is happening in Guides
and Publications section and Other Resources.

On Thu, May 12, 2016 at 4:56 PM, Vivien Deparday notifications@github.com
wrote:

[2016-05-12 21:10] shanikadhettige commented on #62
And Tools and Training Materials

On Thu, May 12, 2016 at 5:08 PM, Shanika Hettige shanikadhettige@gmail.com
wrote:

[2016-05-12 21:19] vdeparday opened #137 "small issue with search layout when returning two results"
For instance with Malawi:

![image](https://cloud.githubusercontent.com/assets/1036189/15230809/a64ae262-1865-11e6-9caf-2bffc8795b8e.png)

It works fine with three results for instance Sri Lanka

[2016-05-12 21:20] vdeparday opened #138 "search results are not showing the thumbnails for the projects:"
For instance: http://dev-gfdrr-opendri.pantheonsite.io/?s=sri%20lanka

Sri Lanka Thumbnail is grey on that screen but appears correctly on homepage

[2016-05-12 22:04] vdeparday commented on #52
@apercas , we got the icons: https://www.dropbox.com/sh/4hv9u3zq7cfx8oy/AADTuXfS3z91ySmWDCObfpDXa/_assets/icons?dl=0

It would be great to get the help of the designers to integrate them in the current about page.

Thank you.

[2016-05-13 09:07] apercas commented on #62
Fixed, sorry for this bug.

[2016-05-13 09:16] apercas commented on #125
Lovely video! Hope you like it as so: http://dev-gfdrr-opendri.pantheonsite.io/about/

[2016-05-13 09:23] apercas commented on #138
You're right, we've corrected this.

[2016-05-13 09:38] apercas commented on #137
I think this is a cache issue, could you please try again? http://dev-gfdrr-opendri.pantheonsite.io/?s=malawi%20innovative

[2016-05-13 11:00] apercas commented on #77
Good news! I subscribed with a different email and it doesn't seem to be marked as spam anymore :)

Could you please try again and, if so, close the ticket?

[2016-05-13 15:00] vdeparday commented on #62
Thank you, can we also remove the text and extra space to make the page more tidy;

![image](https://cloud.githubusercontent.com/assets/1036189/15251981/e7df8950-18f9-11e6-8a64-0adb06ee1795.png)

[2016-05-13 15:06] vdeparday commented on #138
Working now, thanks !

[2016-05-13 15:06] #138 closed, assigned to vdeparday

[2016-05-13 15:06] vdeparday commented on #125
Could we frame it or something because it is blending with the background?
Can you ask the designers what would be best?

On Fri, May 13, 2016 at 5:16 AM, Adrián notifications@github.com wrote:

[2016-05-13 15:07] vdeparday commented on #137
actually, it is working in Chrome but not on IE the default browser here. Could you try to fix it for IE too. Thanks

[2016-05-13 15:54] apercas commented on #52
Cool!
![image](https://cloud.githubusercontent.com/assets/704210/15253668/9de14804-1933-11e6-9f92-0c10b002b946.png)

http://dev-gfdrr-opendri.pantheonsite.io/about/

[2016-05-13 15:54] danicaso-vizzuality commented on #62
Yes, that extra space is the result from a padding below the text and another one over the title. Please, @apercas get rid of the first padding and reduce 20px the padding over all of these h3 titles.

Talking about the content, that first paragraph is meant to introduce this section to the user. We would recommend to keep it in order to have a little guidance for them, maybe shorter if it's too l

[2016-05-13 16:05] vdeparday commented on #52
For the icon 8, can we use the second option from the dropbox?

Also, I was thinking something a bit more like page 4 of this doc:
https://www.gfdrr.org/sites/default/files/publication/OpenDRI%20Policy%20Note.pdf
where the icon would be a bit bigger. It could be a grid layout and in the
bottom right corner a link to the publication.

On Fri, May 13, 2016 at 11:54 AM, Adrián notifications@github.co

[2016-05-13 16:21] apercas commented on #52
Hi, okay, I changed the icon and let the team know about your proposal. Wpuld you mind closing this ticket (if it's ok) and opening another one relating this if desired for that other change? Otherwise we'll end up with infinite-story tickets that eventually are hardly related with the original request :)

Thank you so much!

[2016-05-13 16:24] apercas commented on #56
That's okay, but are you concerned that this will imply reducing the length of the text (so it fits on a card)? Is that okay?

[2016-05-13 16:52] apercas commented on #137
Sure, sorry, the code we use to auto-locate them is not yet part of the core of IE, we've developed a workaroud. Deployed.

[2016-05-13 16:54] apercas commented on #52
(We changed the layout to a grid one and increased the size of the icons anyway.)

[2016-05-13 17:06] apercas commented on #62
Updated.

[2016-05-13 18:08] vdeparday commented on #137
Thank you

[2016-05-13 18:08] #137 closed, assigned to vdeparday

[2016-05-13 18:10] vdeparday opened #139 "Wrong font an IE"
Doing a couple check on IE since it is the one that opens the link by default here. It looks like the font is not getting detecting, the thumbnails have a time new roman type font that makes things not look good.

![image](https://cloud.githubusercontent.com/assets/1036189/15257467/7d246c28-1914-11e6-8d4e-2c0cf6c47688.png)

[2016-05-13 18:14] vdeparday commented on #62
It is just that we deleted the text on all the other ones but this text is nice so we can keep it.

Can we reduce the padding between the section:

![image](https://cloud.githubusercontent.com/assets/1036189/15257576/f6d03d40-1914-11e6-8b19-8ae7f0374818.png)

[2016-05-13 18:18] vdeparday commented on #52
If you look at page 4 the column on the left is about data and on the right about project. Could you reuse those titles at the top of the column. Thank you.

[2016-05-13 18:20] vdeparday commented on #56
I think that it is fine. We can work on shorter text and focus on what we actually do with them. cc @shanikadhettige  agreed ?

[2016-05-17 08:13] apercas commented on #125
Yes, it seems the background of the video melts with the one on the website, we added the current shadow we apply on the cards:
![image](https://cloud.githubusercontent.com/assets/704210/15315442/ee98f30a-1c17-11e6-8041-5be51e567762.png)

[2016-05-17 08:54] apercas commented on #62
Sure, done :)

[2016-05-17 10:27] apercas commented on #139
Hum, it seemed the font we're using (Bariol) had an issue with IE (but not Edge) on the version we were using, we changed it and now it's been displayed better, could you please check? Thank you!

[2016-05-17 10:54] apercas commented on #126
I'll add all this info in the documentation, should we create a github wiki in this repo?

[2016-05-17 11:16] apercas commented on #67
Sorry, forgot to comment here, fixed.

[2016-05-17 11:43] apercas commented on #52
Sure.
![image](https://cloud.githubusercontent.com/assets/704210/15321224/628e6b10-1c35-11e6-985c-2da6bff8bf7b.png)

http://dev-gfdrr-opendri.pantheonsite.io/about/

[2016-05-17 14:29] apercas commented on #56
Here: http://dev-gfdrr-opendri.pantheonsite.io/about/#partners

You'd like to change the icons as well, I think.

[2016-05-17 15:14] shanikadhettige commented on #62
Short Notes and Guides and Publications look good but something happened where this bottom part looks unruly now.
For whatever reason my computer won't let me take a screenshot to show you. I am viewing on Firefox.

[2016-05-17 15:15] #92 closed, assigned to shanikadhettige

[2016-05-17 15:16] shanikadhettige commented on #67
Much cleaner, thanks!

[2016-05-17 15:16] #67 closed, assigned to shanikadhettige

[2016-05-17 15:17] shanikadhettige commented on #125
I think this solves the problem, much appreciated

[2016-05-17 15:17] #125 closed, assigned to vdeparday

[2016-05-25 04:50] vdeparday commented on #56
@apercas How does that work? Isn't it resize automatically or do we have to enter the size manually?

@shanikadhettige, could you have a quick look at it?

[2016-05-25 04:53] vdeparday commented on #62
can we add some space at the end?

[image: Inline image 1]

On Tue, May 17, 2016 at 8:44 PM, shanikadhettige notifications@github.com
wrote:

[2016-05-25 04:54] vdeparday commented on #52
Looks good, thanks

[2016-05-25 04:54] #52 closed, assigned to vdeparday

[2016-05-25 04:56] vdeparday commented on #126
I think it is fine if we keep it in the google doc.

On Tue, May 17, 2016 at 4:24 PM, Adrián notifications@github.com wrote:

[2016-05-25 04:59] vdeparday commented on #139
What do you mean by "but not Edge", does that mean that we are no longer
using Bariol?

It looks much better now although still slighty different but that is fine.

On Tue, May 17, 2016 at 3:58 PM, Adrián notifications@github.com wrote:

[2016-05-25 05:01] vdeparday opened #140 "Add first Newsletter in the list"
Can we add a link to the first newsletter in the resources section

[2016-05-25 05:54] vdeparday opened #141 "Issue with reflowing on resources page for some screen size"
When I put the window on half of my screen, I can access only the first category of resources not the other ones. It is fine for phone sizes and full screen.

Connection is too slow to upload screenshot but can upload later on if needed.

[2016-05-25 06:02] vdeparday opened #142 "Management of the Resources of the section on the homepage"
How do we update the background images in the resources section on the homepage?

How do we update the list of resources in the bottom right corner?

[2016-05-25 06:14] vdeparday opened #143 "Clean up of the design of the about page"
Now that we have a final version of the about page. It would be good to clean-up a bit the design so that it is a bit more consistent and align:
- Some sections have too much space between them. Also some content is over 2 column align to the left, some
- Text under the pillar is over two columns and not align with the rest
- Contact form is also looking a bit weird on the left.

[2016-05-25 06:31] vdeparday opened #144 "Update links for resources"
Right now the menu link is to: http://dev-gfdrr-opendri.pantheonsite.io/resource

But there is another page on: http://dev-gfdrr-opendri.pantheonsite.io/resources/ (older version)

Can we delete the old version so people don't end up on it by mistake?
Then can we link the actual functionning one to /resources?

[2016-05-31 12:00] apercas commented on #139
Hi, we're still using Bariol and we will keep it. When i said that i meant that the bug existed on IE but not on IE's predecessor, Edge. The font is slightly different because the type format for those browser is not the same as the one Firefox or Chrome use, even different versions of the same browsers can render the typographies differently. That's why we face this differences :)

[2016-05-31 16:53] apercas commented on #143
Hi, we applied new more balanced styles: http://dev-gfdrr-opendri.pantheonsite.io/about/

[2016-05-31 17:11] apercas commented on #144
I've changed the visibility of the old resources page just in case we want to check anything from before. It's only visible to those who are logged in on that site. If we want to get rid of it, anyway, an admin user can do it with no problem.

Sadly, changing the current one to `/resources` is a tricky thing as that name is the content-type and that would imply reviewing both how we get them from

[2016-05-31 17:12] apercas commented on #142
Hi, that list is not dynamic and as I spoke with @shanikadhettige we'll need a Pull Request on the `index.php` file with the changes to update it.

[2016-05-31 17:21] apercas commented on #141
Hi, I think I spotted what you mention, could you try again, please? Thanks :)

[2016-05-31 17:29] apercas commented on #126
That's cool

[2016-05-31 18:37] vdeparday commented on #139
Thanks for the clarification !

[2016-05-31 18:37] vdeparday commented on #139
Thanks for the clarification !

[2016-05-31 18:37] #139 closed, assigned to vdeparday

[2016-06-01 12:01] vdeparday commented on #143
Thank you it is looking much better now.

There is one display error with the Newsletter:
![image](https://cloud.githubusercontent.com/assets/1036189/15708787/4d32523c-281e-11e6-89c8-b163393b19f3.png)

And could we add at least a couple pixels space here:
![image](https://cloud.githubusercontent.com/assets/1036189/15708802/78962f7a-281e-11e6-9551-6d893dbf2128.png)

[2016-06-01 12:04] vdeparday commented on #144
It makes sense to make the redirection only once the other page is deleted? Otherwise, we will not be able to access /resources any more?

[2016-06-01 12:05] vdeparday commented on #141
It is working now, thank you

[2016-06-01 12:05] #141 closed, assigned to vdeparday

[2016-06-01 12:06] vdeparday commented on #126
you can close the issue once it is added in the google doc.

And no luck for a PR that would be in the next WordPress version?

[2016-06-03 14:59] shanikadhettige commented on #83
Hi Robert, @rsoden any update on completed tech notes files?

[2016-06-03 15:03] shanikadhettige commented on #69
@apercas how do I add these?
U have the shape files for each country right? Could we just highlight the multiple countries with the white outline instead of creating a shape file per region? Regions as used here are not within countries but always groups of countries

[2016-06-03 21:09] shanikadhettige commented on #56
@apercas I've tried a few different ways (adding links/adding media files) but haven't been able to change the icons properly. What is the size of the box? Changing the size of the image to the height of 62 px seems to stretch and pixelate them but the way it is right now they get cut off.

[2016-06-03 21:13] shanikadhettige opened #145 "CANNOT GET ON PANTHEON WP"
It was working earlier today but now every time I try to get on the page it goes to an Error link. I have tried on multiple browsers and other internet + simbiotica page are working
@apercas @vdeparday

[2016-06-03 21:28] shanikadhettige commented on #145
Nevermind, it's working again.

[2016-06-03 21:28] #145 closed, assigned to apercas

[2016-06-09 09:11] apercas commented on #144
Yes, exactly.

[2016-06-09 09:28] apercas commented on #143
Fixed.

[2016-06-09 09:46] apercas commented on #56
I see, maybe we should add the logos resized, because if we change the size afterwards we can break their proportions:
![image](https://cloud.githubusercontent.com/assets/704210/15925538/d9fbd296-2e37-11e6-9018-afc27742e606.png)

[2016-06-09 09:50] apercas commented on #69
Hum, yes, we have that data, I think that'd be the better, highlight them separately.

[2016-06-14 12:54] shanikadhettige commented on #82
@danielcasius @andresgnlez

[2016-06-14 12:57] shanikadhettige commented on #77
Just tried it again and mine is still ending up in spam @apercas

[2016-06-14 13:05] shanikadhettige commented on #62
@apercas please close when space is added at the end, the rest looks good.

[2016-06-14 13:06] shanikadhettige commented on #56
@apercas I had tried to add it after resizing a few days ago but it came out pixelated

[2016-06-15 19:26] shanikadhettige commented on #140
It is added there but doesn't show up on the Resource list on the site. @apercas do you know why? I have tried with it categorized as a Highlighted Resource and without

[2016-06-16 13:01] shanikadhettige commented on #62
@apercas i attempted to do this by adding &nbsp; to page.php line 14 and committing to master
didn't see any change yet, let me know if this was right.

[2016-06-16 13:24] shanikadhettige commented on #142
I believe I know where and how to do it, which ones do you want to change? @vdeparday

[2016-06-16 13:26] #143 closed, assigned to vdeparday

[2016-06-16 14:09] shanikadhettige commented on #69
@apercas
The multiple country project posts are ready to go, simply need the location added. For the Sahel, Horn of Africa, and West Africa I am able to select them in the editor map box, however they do not actually highlight any countries. For Pacific Island countries, I am unable to select "Pacific Islands" or similar so it is currently just tagged as Kiribati.

Here are the groups of countries

[2016-06-17 11:56] danicaso-vizzuality commented on #82
Hi all. InnovationLab brand guidelines doesn't include an official version of the logos with a box surrounding them (like Facebook does), not talking about assets but about brand guidelines. Most of the brands are like us, and version with background embedded is not part of brand assets. Here I share some examples:
Twitter. https://about.twitter.com/company/brand-assets
YouTube. https://www.youtub

[2016-06-17 18:31] shanikadhettige opened #146 "Text is different sizes on project pages"
Sometimes the pages have a bigger font in the latin text area and sometimes smaller. In this example the middle paragraph is slightly larger than the others. Do you know why this happens?
It doesn't appear to have any markings such as <strong> or headers, etc.

Thanks!
![screen shot 2016-06-17 at 2 29 30 pm](https://cloud.githubusercontent.com/assets/17725960/16160825/3441b976-3498-11e6-8b4c-c472d

[2016-06-20 02:33] shanikadhettige commented on #83
@rsoden just checking in?

[2016-06-21 13:12] shanikadhettige opened #147 "Spaces between paragraphs are disappearing"
@apercas Even when < p>< /p> or nbsp; are manually typed into the code some of the project and news pages are losing their paragraph spacing after additional edits, no obvious pattern

[2016-06-21 14:26] apercas commented on #146
Yes, for what I've seen, the text on the bottom wasn't wrapped by a `p` tag, fixed :)
![image](https://cloud.githubusercontent.com/assets/704210/16232961/e6e787c2-37cc-11e6-8152-2be42e42e6ee.png)

[2016-06-21 14:32] apercas commented on #147
Hi, I took as an example the Sri Lanka project, http://dev-gfdrr-opendri.pantheonsite.io/project/sri-lanka/ and it lacked of the required `p` tag.

I added again:
![image](https://cloud.githubusercontent.com/assets/704210/16233112/7afd059a-37cd-11e6-9b61-a4ceb78d7874.png)

Now it looks OK. Every paragraph should be wrapped as these so we apply their styles no matter what.

[2016-06-21 15:02] #62 closed, assigned to apercas

[2016-06-21 15:26] #140 closed, assigned to shanikadhettige

[2016-06-21 15:26] apercas commented on #140
Fixed :)

[2016-06-21 15:49] shanikadhettige commented on #56
@vdeparday perhaps we should just remove the logos? it is nice to have visuals but if it is causing significant trouble it may be the best way to move forward

[2016-06-21 15:51] shanikadhettige commented on #147
Actually, I've figured out why it happens. The p tag stays if you only edit using the "text" edit box. If you change to "visual" and make edits then then the paragraph spacing goes away and you have to manually re-enter the spacing. Is there any way to avoid this? If not we'll just have to work around this and make sure it's only edited "text" side or revised after all content edits.

[2016-06-21 21:05] #146 closed, assigned to shanikadhettige

[2016-06-21 21:11] shanikadhettige commented on #77
@apercas Could please add the following sentence between the big text and the input box:
**If you do not receive a confirmation email, please be sure to check your Spam folder.**

Paragraph size text or smaller is fine. Thank you
![sign up for newsletter](https://cloud.githubusercontent.com/assets/17725960/16246412/1fb62300-37d3-11e6-8ff5-e4d23b3367e9.png)

[2016-06-21 22:09] shanikadhettige commented on #85
https://github.com/Vizzuality/community-mapping/issues/24 @andresgnlez

[2016-06-22 12:55] #77 closed, assigned to shanikadhettige

[2016-06-23 16:26] vdeparday commented on #56
it shouldn't be too hard to do, @apercas can you advise on what is the best way forward?

[2016-06-23 20:20] shanikadhettige opened #148 "Track changes?"
Is there a way to track which posts/projects have been recently updated or a history of the changes made to the site?
Or is there some other way to track the content changes made by other users so that I can check that it didn't mess up formatting and their post follows the correct guidelines, etc?

[2016-06-23 20:46] shanikadhettige opened #149 "Philippines project box text is running over"
![philippines project box text](https://cloud.githubusercontent.com/assets/17725960/16319625/f7556a34-3961-11e6-9a0f-ea0a7c75e079.png)
viewed in IE

[2016-06-23 20:50] shanikadhettige opened #150 "Mouse shows in Homepage image"
Look between the two buttons that read "OpenDRI in 110 sec" and "Explore Projects"
At different levels of zoom the image shows a black cursor. I assume that is not supposed to be there...
![no mouse](https://cloud.githubusercontent.com/assets/17725960/16319761/870903c0-3962-11e6-8a7e-545f09c34b30.png)
![with mouse](https://cloud.githubusercontent.com/assets/17725960/16319760/86ece3e8-3962-11e6-8f3

[2016-06-23 20:53] shanikadhettige opened #151 "Resource images stretching on IE"
![resource images stretching on ie](https://cloud.githubusercontent.com/assets/17725960/16319869/f4fb5518-3962-11e6-98d9-64bd265d1c3c.png)
Viewed on World Bank desktop using IE

[2016-06-23 20:53] shanikadhettige commented on #151
Not a problem on my personal mac using Chrome
![screen shot 2016-06-23 at 4 52 23 pm](https://cloud.githubusercontent.com/assets/17725960/16319909/2a45260e-3963-11e6-8e78-a6426ec44468.png)

[2016-06-24 17:44] shanikadhettige commented on #69
@apercas We're hoping to have all the content done by the end of the month, any update on this?

[2016-06-27 10:02] sergioestella commented on #85
We are currently working on this comment and changing the look & feel to make it more similar to the rest of the Open DRI site as discussed with Vivien.

[2016-06-27 14:33] agnlez commented on #85
Site has been updated with latest styles changes. You can check it out here: http://vizzuality.github.io/community-mapping/

[2016-06-28 18:39] shanikadhettige opened #152 "Using Data is out of place on About page"
![usingdata_outofplace](https://cloud.githubusercontent.com/assets/17725960/16428035/0cc8662a-3d3e-11e6-821f-ce64cd5ce797.png)

[2016-06-28 18:45] shanikadhettige commented on #151
Footer on this page also does not span the width of the screen

[2016-06-28 18:54] shanikadhettige commented on #56
I've removed the logos. @apercas can you shift the blue titles higher up in the box so that the descriptive text sits below each?
That will likely be the neatest way.

![partners images](https://cloud.githubusercontent.com/assets/17725960/16428483/1205e3a4-3d40-11e6-8684-79396b9b379a.png)

Thank you

[2016-06-28 18:57] shanikadhettige commented on #152
Please also move "Open Data projects in the disaster risk space should be designed to" so that it lines up with the 2nd column of principles. It lines up on Chrome on Mac, not on IE on PC.
![principles_notaligned](https://cloud.githubusercontent.com/assets/17725960/16428622/b058028a-3d40-11e6-829f-ad09aa7281cd.png)

[2016-07-05 20:34] shanikadhettige commented on #149
Noticed this is also happening for Nepal @apercas

[2016-07-05 20:35] shanikadhettige opened #153 "Related News image shows featured image not thumbnailpic"

[2016-07-06 08:54] apercas commented on #153
Fixed, please test and close if it's ok :)

[2016-07-06 09:03] apercas commented on #150
That cursor is part of the image and in this case it is there on purpose, if we want to change it we can still ask the designers for it.

[2016-07-06 09:13] apercas commented on #147
Sure, if that's what we want we can toggle this checkbox:
![image](https://cloud.githubusercontent.com/assets/704210/16613043/6a6d1640-436a-11e6-8388-bc755eeb758b.png)

You'll find it on Users / Your profile.

If we want to do this for all the users please tell me because there's a better way than going profile by profile :)

[2016-07-06 09:20] apercas commented on #148
Yes, just order the projects/news... by Date:
![image](https://cloud.githubusercontent.com/assets/704210/16613118/e0ceecdc-436a-11e6-9f7a-a26396b593f9.png)

[2016-07-06 10:12] apercas commented on #56
Done.

[2016-07-06 11:20] apercas commented on #151
Fixed.

[2016-07-06 11:20] #151 closed, assigned to apercas

[2016-07-06 11:20] apercas commented on #149
Fixed

[2016-07-06 11:20] #149 closed, assigned to apercas

[2016-07-06 11:42] apercas commented on #152
Done.

[2016-07-06 11:42] #152 closed, assigned to apercas

[2016-07-06 13:50] shanikadhettige commented on #148
@apercas, I'm afraid that doesn't work. Ordering by date seems to simply order by publish date rather than by when the posts were updated. I just did a test with updating the Sri Lanka post and refreshing the list and the order did not change.

[2016-07-06 13:57] shanikadhettige commented on #153
Perfect, thank you!

[2016-07-06 13:57] #153 closed, assigned to shanikadhettige

[2016-07-06 14:09] apercas commented on #148
Hum, could you give a try again? I can have them ordered by modified date (and I can get the hour when posing the mouse over the date as well)

![image](https://cloud.githubusercontent.com/assets/704210/16620780/05e5783c-4394-11e6-826d-fcf5917c5678.png)

[2016-07-06 14:43] shanikadhettige commented on #148
Hi, yes I can get something that shows modified date but it isn't true information. I have edited several project posts today (the most recent being Saint Lucia) and that is not what shows up when sorting.
![order by date](https://cloud.githubusercontent.com/assets/17725960/16621991/52495aa0-4366-11e6-9512-2935d84d3483.png)

[2016-07-06 16:41] apercas commented on #148
Ok, this has been a tricky one as WP doesn't filter by revision after that, so I had to create that filter as a custom code for our WordPress, nevertheless, here we are:

![image](https://cloud.githubusercontent.com/assets/704210/16626442/2c2c9f24-43a9-11e6-82ba-bc01da3942f0.png)

Hope you like it :)

[2016-07-06 16:45] shanikadhettige commented on #148
Yes, thank you! I was just about to comment that it appears to have a modified column in posts but not in projects or resources but I'm not sure why it's only there. You must have just added it. That function across the different post types would be ideal.
![screen shot 2016-07-06 at 12 41 36 pm](https://cloud.githubusercontent.com/assets/17725960/16626573/91a18c84-4377-11e6-9552-f1cef14fae6e.png)

[2016-07-06 17:25] apercas commented on #148
Yikes! I thought they'd get them automatically, I had to duplicate the functionality. Done.

[2016-07-06 17:32] shanikadhettige commented on #148
Wonderful, this is exactly what I was looking for. Many thanks!

[2016-07-06 17:32] #148 closed, assigned to vdeparday

[2016-07-06 19:41] shanikadhettige commented on #150
We'll ask some of our colleagues what they think about the mouse and let you/the designers know the final decision. Thanks

[2016-07-06 19:42] shanikadhettige commented on #147
Thanks for thinking of a solution, Adrian but Vivien and I discussed that it would be good to still be able to view both the Visual and Text editor. Do you know why this error is happening?

[2016-07-06 19:56] shanikadhettige commented on #56
Thanks for fixing that Adrian but I think that changed the bottom boxes for Related Web Pages as well. They are now messed up as seen in the image below.
![related web page](https://cloud.githubusercontent.com/assets/17725960/16632470/3859b0e6-4392-11e6-8c17-23ce8060cb82.png)

Could you also make the white box for the Partners a medium grey tone to make the page a little more interesting (do not c

[2016-07-06 20:00] shanikadhettige commented on #69
When you rework the visual for multiple country posts will the white dot symbol still be used for them? It would be better to change it to a slightly larger yellow dot so it doesn't look like there is a project in Burkina Faso or Niger as it does now.
![multiple country posts](https://cloud.githubusercontent.com/assets/17725960/16632578/bbfb2498-4392-11e6-9066-c0e76947ef32.png)

[2016-07-06 20:05] shanikadhettige opened #154 "Mobile errors"
Home page does not show up properly on mobile view.
There are also some issues with the about page. See screenshots.
![img_6248](https://cloud.githubusercontent.com/assets/17725960/16632706/68986300-4393-11e6-8233-b7a464adf3c6.PNG)
![img_6249](https://cloud.githubusercontent.com/assets/17725960/16632707/689a1952-4393-11e6-899e-ef78b2921c9a.PNG)
![img_6250](https://cloud.githubusercontent.com/asset

[2016-07-06 20:10] shanikadhettige opened #155 "Add images for all resources"
Please allow the image to show for all resources so that Newsletters, Tools and Training, and Other look like Guides, Short Notes, etc.

![add resource thumbnail images](https://cloud.githubusercontent.com/assets/17725960/16632838/2615d502-4394-11e6-91ca-6d06c0d622ff.png)

[2016-07-06 20:12] shanikadhettige opened #156 "Only 5 guides showing"
![guide category](https://cloud.githubusercontent.com/assets/17725960/16632971/eb577d84-4394-11e6-97e0-b960cd1f113f.png)

![only five guides](https://cloud.githubusercontent.com/assets/17725960/16632866/4cde0146-4394-11e6-847d-d37a920d4827.png)
For some reason only 5 guides show at a time. There are at least 6 that are categorized as guides. Please make sure they all show.

[2016-07-06 20:19] shanikadhettige opened #157 "Hide resource tags, show caption"
![resources information](https://cloud.githubusercontent.com/assets/17725960/16632980/f8fae142-4394-11e6-801f-4b8df909d148.png)
After some discussion we have decided that because they seem a little overwhelming it would be good to hide the resource tags. In their place could we put a field that shows one sentence that can be pulled from the Excerpt field as well as a line saying "Created By:____"

[2016-07-06 20:21] shanikadhettige opened #158 "Map is slow to load"
The map is slow to load and doesn't seem to cache. Do you know why?
Tried on multiple computers with different internet.
![map is slow](https://cloud.githubusercontent.com/assets/17725960/16633119/b19084d2-4395-11e6-9d9d-86af759faa67.png)

[2016-07-06 20:28] shanikadhettige opened #159 "Project description"
Can this text be pulled from the Excerpt rather than from the post itself? If the sentence is short then it shows part of the project box features (e.g. DATA SHARING PLATFORM).

![project description](https://cloud.githubusercontent.com/assets/17725960/16633291/9a6f9d32-4396-11e6-9810-532f6df69f23.png)

[2016-07-06 20:43] shanikadhettige opened #160 "Project coming up in related news"
even though it is not listed in the related news custom field.
Seen it on multiple countries
![sri lanka related news](https://cloud.githubusercontent.com/assets/17725960/16633743/aaa38252-4398-11e6-9d84-bc9f7c018886.png)

[2016-07-06 20:57] shanikadhettige opened #161 "More than 10 related news"
When there's more than 10 related news the list extends past the end of that section of the web page. Maybe there is a way to do two columns after a certain number?
![related news maximum](https://cloud.githubusercontent.com/assets/17725960/16634239/c276d436-439a-11e6-92c2-91b537a4723e.png)

[2016-07-06 21:07] vdeparday commented on #161
I think it may be better to have something like "Explore more News about Sri Lanka" or something like that. Two columns may be weird visually?

[2016-07-06 21:29] shanikadhettige commented on #160
Happening to Sri Lanka and Nepal

[2016-07-06 21:38] shanikadhettige commented on #161
@vdeparday I also just realized that this doesn't only happen when there's more than 10 but when the post length is shorter than the length of related news column: e.g. Tanzania (its content was all moved to Zanzibar)

[2016-07-06 21:47] shanikadhettige commented on #160
Figured out that it happens if there is an extra space at the bottom of the custom field entry box

[2016-07-06 21:47] #160 closed, assigned to apercas

[2016-07-06 22:04] shanikadhettige opened #162 "Add countries to news"
Please add the relevant countries to the bottom left of each news box (along with the categories you already have listed)
![news tags](https://cloud.githubusercontent.com/assets/17725960/16636116/16dd23e6-43a4-11e6-872b-bf94551b86d8.png)

[2016-07-06 22:11] shanikadhettige opened #163 "Show more text in map pop up boxes"
Only the first 3 or 4 words show of each
Can we show more? The whole bolded text at the top of each project box is preferred (perhaps using the Excerpt?)
If not possible, showing 3 or 4 lines at least would be better
![map country box](https://cloud.githubusercontent.com/assets/17725960/16636252/ebbc3034-43a4-11e6-914e-1b86dc455eb0.jpg)

[2016-07-06 22:12] shanikadhettige opened #164 "Add Google Analytics"
@apercas Is there a WordPress plug in we can use to collect Google Analytics stats?

[2016-07-06 22:15] shanikadhettige opened #165 "Link Project News to Country's news"
Can you link the Project's News title (see image) to a page with all the news filtered to show only posts from that country?
Let me know if you have questions
![project news hyperlink](https://cloud.githubusercontent.com/assets/17725960/16636362/a4cee8f0-43a5-11e6-92f5-d302ee01fa5c.png)

[2016-07-06 22:20] shanikadhettige opened #166 "Resource images"
All the thumbnail images for resources are stretched into a rectangle, for example the Sharing Data Factsheet should actually be a square
![resource images rectangles](https://cloud.githubusercontent.com/assets/17725960/16636458/405480b4-43a6-11e6-9b1b-f1990d5f59ab.png)
![sharing data factsheet](https://cloud.githubusercontent.com/assets/17725960/16636461/4392ff4e-43a6-11e6-80b8-c53534f9af3d.png)

[2016-07-06 22:21] shanikadhettige commented on #142
I will change Principles background image

[2016-07-07 14:26] apercas commented on #165
Done, although all the news have to be tagged with the name of the country, e. g.: http://dev-gfdrr-opendri.pantheonsite.io/project/zanzibar/

[2016-07-07 14:26] #165 closed, assigned to apercas, edbrett

[2016-07-07 14:30] apercas commented on #164
There are plenty of them, but if you just paste here your GA code or the JS generated with the Analytics website we can add it to the theme without making use of any plugin.

[2016-07-07 14:31] shanikadhettige commented on #165
Thanks, I believe they all are so far but will go through and double check

[2016-07-07 14:44] apercas commented on #126
Hi, I completely disabled the bar for the Projects page (still available for all of the others). Please close if that works for you :)

[2016-07-07 15:51] apercas commented on #154
Oh, sorry, I messed up the styles. Fixed.

[2016-07-07 16:00] apercas commented on #158
We weren't loading the map until the projects (each card) were loaded, I got rid of that and now it starts loading without waiting for the projects to be completely loaded. Fixed :)

[2016-07-07 16:00] #158 closed, assigned to apercas

[2016-07-07 16:02] shanikadhettige commented on #158
Thanks, works quickly now

[2016-07-07 16:04] shanikadhettige commented on #154
Thanks, most of it looks good. If you look at the red boxes on the home page Resources is perfectly centered but View All Projects and News buttons are both towards the right. Could you line them up with Resources in the middle?

[2016-07-07 16:09] shanikadhettige commented on #154
![mobile error image1](https://cloud.githubusercontent.com/assets/17725960/16660271/a04ad8d4-443b-11e6-982b-9564146a1829.PNG)
![mobile error image2](https://cloud.githubusercontent.com/assets/17725960/16660272/a0531a26-443b-11e6-8caf-c7b24951191e.PNG)

[2016-07-07 16:39] apercas commented on #154
Yes, I see, I fixed that and also got rid of the horizontal line that is not supposed to show up on the mobile (still displayed in the desktop). Close if OK.

[2016-07-07 16:59] shanikadhettige commented on #154
Great. Last thing, can you even out the spaces between the sections. See here the space is much larger near projects than lower down. If you can make it a middle size and make sure all the sections are separated with the same size space that would be good.
![mobile error image3](https://cloud.githubusercontent.com/assets/17725960/16661778/96691bf8-4442-11e6-8eac-a9b8f8af7a7b.PNG)
![mobile error im

[2016-07-07 17:05] apercas commented on #156
Fixed.

[2016-07-07 17:05] #156 closed, assigned to apercas

[2016-07-07 17:13] apercas commented on #161
What's the desired solution here, then? Adding that text after the fourth one maybe? Thanks

[2016-07-07 17:54] apercas commented on #157
I added the excerpt as requested but notice the texts inputed are really large: http://dev-gfdrr-opendri.pantheonsite.io/resource/

We also added the author.

[2016-07-07 18:22] shanikadhettige commented on #157
I will go through and shorten the excerpts. Does the author get placed automatically from the author field or can we edit it manually? There are some that are by others who we would like to name without creating accounts for them e.g. Satellites, DEM. Perhaps I can just type it into the excerpt field.

[2016-07-07 18:25] shanikadhettige commented on #157
Can you reduce the font size, maybe make it like the font of the date so that it stands out less?

[2016-07-07 18:49] shanikadhettige commented on #161
@vdeparday please advise

[2016-07-08 11:57] apercas commented on #154
Updated :)

[2016-07-11 19:17] shanikadhettige commented on #164
Hi @apercas
Here is the GA code I created for dev-gfdrr-opendri.pantheonsite.io/: UA-80607565-1
I also made one for www.opendri.org since that is the final site: UA-80600133-1
Let me know if there is anything else you need for this.
Thanks

[2016-07-16 08:19] apercas commented on #164
Sorry, this was added but forgot to reply, please go to Settings => Google Analytics, there you'll be able to change the currently pasted code (UA-80607565-1) to the production one when needed :)

[2016-07-16 08:19] #164 closed, assigned to apercas

[2016-07-16 09:34] apercas commented on #69
Hi, I've applied the last changes to this, here: http://dev-gfdrr-opendri.pantheonsite.io/project/?mapregion=grp1&mappilar=

[2016-07-16 09:37] #154 closed, assigned to apercas

[2016-07-18 08:44] #155 closed, assigned to apercas

[2016-07-18 08:44] apercas commented on #157
Done.

[2016-07-18 08:48] apercas commented on #159
Hi, we're actually displaying the excerpt text with the fallback of the article text in case the excerpt is blank.

[2016-07-18 08:48] #159 closed, assigned to apercas

[2016-07-18 08:51] apercas commented on #163
Hi, we've been storing the first 60 letters of each article, I've changed this to the first 180 but for us to display them we'll have to update/save each project again so the database gets the notification. This won't be necessary for new projects, of course.

[2016-07-18 08:51] #163 closed, assigned to apercas

[2016-07-18 08:55] apercas commented on #162
There is no relation between news and countries (there is such connection between projects and countries, because projects have locations) so we cannot achieve this right now.

[2016-07-18 08:57] apercas commented on #166
Hi, this will brake the designs as the resources page is meant to have the pictures displayed with that proportion, this is as so because we had in mind the frontpage of each document as the picture and that usually are A4 sized.

[2016-07-18 08:57] #166 closed, assigned to apercas

[2016-07-18 13:03] shanikadhettige commented on #166
@vdeparday please note

[2016-07-18 13:30] shanikadhettige commented on #163
This works, almost all projects updated now

[2016-07-18 13:37] shanikadhettige commented on #157
@apercas
As mentioned above the "Created by:" information is not always necessary and at the moment doesn't reflect the correct information. Could you delete that field and I will simply type it into the Excerpt? Thank you

[2016-07-18 14:32] apercas commented on #157
My bad, updated!

[2016-07-18 14:32] #157 closed, assigned to apercas

[2016-07-18 16:32] shanikadhettige opened #169 "Wrap text around image"
One last thing, do you know how to wrap text around images? See the area with the arrow in image below.

![wrap text](https://cloud.githubusercontent.com/assets/17725960/16922461/9c251e6c-4ce3-11e6-8396-0a79782b64be.png)

[2016-07-18 17:42] vdeparday commented on #162
Since on the country/location page, we can list the News on the side, for sure we can do the other way around? Can we list the location the News is linked to?

[2016-07-19 13:24] #126 closed, assigned to vdeparday

[2016-07-19 13:24] #85 closed, assigned to agnlez

[2016-07-20 19:48] shanikadhettige commented on #73
Hi @apercas,

@vdeparday thinks it will look better to migrate the opencities content without using an iframe as it still looks somewhat messy and we will have more interactive content like this in the future. Is there a way we can use JavaScript or something else to just embed the interactive map into a blog post and add a download button for the zipped shapefiles and the automatically generated

[2016-07-28 20:53] vdeparday opened #170 "Bug with news linked to a project"
See the screenshot below:

![image](https://cloud.githubusercontent.com/assets/1036189/17229018/b158a832-54e3-11e6-8e19-1cae90fef3fe.png)

Instead there should be several news with thumbnails linked to it.

[2016-07-28 20:59] vdeparday opened #171 "Multiple country symbol not reflecting the legend"
![image](https://cloud.githubusercontent.com/assets/1036189/17229181/8d72346e-54e4-11e6-87ba-e92418b36f76.png)

It looks like a yellow drop on a white background on the map. That is a little weird, I think it is better if it is a plain yellow circle.

Thanks

[2016-07-29 10:13] apercas commented on #171
Hi, it seems the Carto map cache is stronger than what i thought, I rename the file and uploaded it to the production server so it doesn't complain about the `ssl` protocol. Pushed but we'll need Morbus to deploy it.

[2016-07-29 10:13] #171 closed, assigned to apercas

[2016-07-29 10:21] apercas commented on #170
This is weird, it seems this feature is working on `dev` http://dev-gfdrr-opendri.pantheonsite.io/project/zanzibar/ I'll check if this has anything to do with the `SSL`.

About the number of news there, it's been discussed in this other thread: https://github.com/Vizzuality/openDRI/issues/161 with no answer so @shanikadhettige ask me to add the 4 max limit.

[2016-07-29 10:29] apercas commented on #170
Ok, they're displayed properly now: https://opendri.org/project/philippines/
![image](https://cloud.githubusercontent.com/assets/704210/17245716/ff16575a-5587-11e6-9c84-94aed3c147b9.png)

If this happens again just try to change the `https` to `http` in the custom field for the news list when editing the post.

[2016-07-29 13:45] vdeparday commented on #170
I still see some weird stuff:

![image](https://cloud.githubusercontent.com/assets/1036189/17250059/a94aa6ee-5570-11e6-97ba-828734919bd3.png)

There is int(..) above each news and the page break in the section on the left are lost. It did complain about https at first but after refreshing, that disappeared.

[2016-07-29 14:55] apercas commented on #170
That's completely my fault. Sadly I cannot push to your repo right now and I won't be able to do that until Monday, could you please replicate this change: https://github.com/Vizzuality/openDRI/commit/27901b1c24b6cbad0ea5cee6095bf2befe2ee4cb

I'm sorry I forgot to clean this. I'll explain this in an email.

[2016-07-29 15:37] morbus commented on #170
Deployed.

[2016-07-29 16:36] vdeparday commented on #170
The style in the the text is still broken:

![image](https://cloud.githubusercontent.com/assets/1036189/17255867/fb182d08-5588-11e6-92ab-f44c1e0eabf8.png)

Is that a bug or it just need to be fixed by @shanikadhettige

[2016-07-29 16:37] vdeparday commented on #170
also the bug with the news is still present on other pages:

![image](https://cloud.githubusercontent.com/assets/1036189/17255918/2fa1f2b6-5589-11e6-8955-a0d5ab1a9bd9.png)

[2016-07-29 16:38] vdeparday opened #172 "In the pop-up we should see the "view project" button without scrolling"
![image](https://cloud.githubusercontent.com/assets/1036189/17255959/5e2feba6-5589-11e6-80a9-86fa276e1ede.png)

Even with the text reduced we cannot see the button.

cc @shanikadhettige @apercas

[2016-08-01 07:57] apercas commented on #170
It seems we'll have to update the field of each project going trough them (just clicking the `update` button beneath the proper field). About the styles, it seems it's related to that post only.

[2016-08-01 07:59] apercas opened #173 "Provide Google Maps API Key"
Hi, in order to let the Geo My WP plugin run over SSL we'll need a Google Maps API Key, check this helping article https://developers.google.com/maps/documentation/javascript/get-api-key

Once we have created please go to `/wp-admin` -> GEO my WP -> Settings and paste it there.

Thank you :)

[2016-08-01 08:58] apercas commented on #172
Rollbacked to previous status.

[2016-08-01 18:16] vdeparday commented on #172
The issue is still there, or is that because it has not been deployed ?

![image](https://cloud.githubusercontent.com/assets/1036189/17304173/44fcb0f4-57f2-11e6-9c14-db05b0d6d32e.png)

![image](https://cloud.githubusercontent.com/assets/1036189/17304199/619b8992-57f2-11e6-80b2-2bb54b32da57.png)

![image](https://cloud.githubusercontent.com/assets/1036189/17304209/6d98e834-57f2-11e6-8c40-1fa44b9322

[2016-08-01 18:18] vdeparday commented on #170
Any way to do that automatically? There are a lot projects and news

On Mon, Aug 1, 2016 at 3:57 AM, Adrián notifications@github.com wrote:

[2016-08-02 07:48] apercas commented on #172
Yes, this is not yet deployed to PRO as the auto-deploy is not available anymore.

[2016-08-03 01:27] vdeparday opened #174 "Map pop-up links broken on both regional projects"
When clicking on view project, it seems like the links in the map pop-up to regional projects. It goes to a dead-end page.

[2016-08-03 01:30] vdeparday opened #175 "Reduce the size of the regional project dots"
Could we make them the same size as regular projects or just very very slightly bigger? They are actually sometimes less important than country projects so I don't want to convey the wrong message. The colour already conveys the difference too.

Thank you !

[2016-08-03 03:14] vdeparday opened #176 "Related Web Pages heading got changed"
![image](https://cloud.githubusercontent.com/assets/1036189/17352690/c69a87b6-5906-11e6-9cbb-d953a0b4153f.png)

It should be all on one line in https://opendri.org/about/

[2016-08-03 21:44] vdeparday opened #177 "Guyana pop-up has latin text although the excerpt is correct"
![image](https://cloud.githubusercontent.com/assets/1036189/17383015/cbff1eba-59a1-11e6-9b66-2fed984b4e50.png)

![image](https://cloud.githubusercontent.com/assets/1036189/17383052/f4132572-59a1-11e6-8cd6-96dbeb6c7e73.png)

[2016-08-03 21:48] vdeparday opened #178 "Remove the Horn of Africa project but the point is still showing and even worse two points are showing now"
![image](https://cloud.githubusercontent.com/assets/1036189/17383156/757f8376-59a2-11e6-88eb-df5aae66238c.png)

[2016-08-03 21:52] vdeparday opened #179 "Hide Newsletter section temporarily"
Until, we publish more newsletter, we would like to hide that part of the resource page.

[2016-08-03 21:53] vdeparday opened #180 "Hide Partner section temporarily"
We would also like to hide this section to start until we talked more with partners and have process to add them to the page.

[2016-08-03 22:33] vdeparday commented on #172
Fixed now.

[2016-08-03 22:33] #172 closed, assigned to nobody

[2016-08-03 22:33] rsoden opened #181 "Projects Map: Country Popups - Uneven spacing in metadata"
On the projects map, when there are multiple pillars in a country, the spacing between pillar names is uneven in the country pop-up.  Here are two screenshots in Chrome on Mac from Sri Lanka and Indonesia. Nepal is another example.

<img width="341" alt="screen shot 2016-08-03 at 4 29 27 pm" src="https://cloud.githubusercontent.com/assets/130505/17384188/7bd73364-5997-11e6-817e-93dc6c9d84c5.png">

[2016-08-03 22:35] vdeparday commented on #170
I went through all projects and click on update. It is fixed now but it shouldn't require manual intervention.

[2016-08-03 22:35] #170 closed, assigned to vdeparday

[2016-08-04 10:15] apercas commented on #175
Done and deployed to PRO.

[2016-08-04 10:15] #175 closed, assigned to apercas

[2016-08-04 10:16] apercas commented on #180
Done and deployed to PRO.

[2016-08-04 10:16] #180 closed, assigned to apercas

[2016-08-04 10:16] apercas commented on #179
Done and deployed to PRO.

[2016-08-04 10:16] #179 closed, assigned to apercas

[2016-08-04 10:17] apercas commented on #176
Done and deployed to PRO.

[2016-08-04 10:17] #176 closed, assigned to apercas

[2016-08-04 10:17] apercas commented on #173
Hi, just a reminder we still need this API key.

[2016-08-04 10:47] apercas commented on #178
Hi, I cleaned the DB cached and went to create a new for testing (they work locally) but I wasn't able because of the API key required here: https://github.com/Vizzuality/openDRI/issues/173

[2016-08-04 10:53] apercas commented on #177
Fixed.

[2016-08-04 10:53] #177 closed, assigned to apercas

[2016-08-04 10:54] apercas commented on #174
Fixed but untestable on production because of the API

[2016-08-04 10:54] #174 closed, assigned to apercas, vdeparday

[2016-08-04 11:44] shanikadhettige commented on #173
Here is the API Key (I used "Browser key 1" default and I did not put a name in the following entry field): AIzaSyDZDDxNrmTMJWHlT4QIzcIjDaadBT1lvqE

The following warning was given: _This key has no referrer restrictions, so other applications might be able to use this key and consume quota. Add restrictions before using this key in production._

I have added the API generated into /wp-admin -> GE

[2016-08-04 11:54] shanikadhettige opened #182 "Not all Resources populating on Resource Page"
@vdeparday DEM Guide was moved from Guides and Publications to Other Resources. It does not show in Other Resources section.

Same was done for Satellite Guide but this shows. I believe it is the same issue we had before where there is a max number of Resources that show.
Please fix for all future resources @apercas

https://opendri.org/wp-admin/post.php?post=1244&action=edit

[2016-08-04 11:56] apercas commented on #173
Sweet! It's working now, thank you!

[2016-08-04 11:56] #173 closed, assigned to apercas, vdeparday

[2016-08-04 14:21] vdeparday commented on #175
It looks like the regular points are bigger?

On Thu, Aug 4, 2016 at 6:15 AM, Adrián notifications@github.com wrote:

[2016-08-04 14:23] vdeparday commented on #178
Thank you, The key has now been provided. could we re-add the one for the pacific and for the Horn of Africa?
Can we test if it works to publish and then put on draft to hide it?

I would also like to see a point to see the new size.

[2016-08-04 14:24] vdeparday commented on #177
Great thank you, what was the issue?

[2016-08-04 14:24] vdeparday commented on #174
Can we test it now that the API has been fixed?

[2016-08-04 16:31] vdeparday opened #183 "Tanzania and Zanzibar not appearing on the map at default zoom level"
![image](https://cloud.githubusercontent.com/assets/1036189/17409919/51e0df44-5a3f-11e6-88f3-a21506b80079.png)

We need to force rendering of all points at all zoom level. Or is that only a cache issue? They do appear on lower zoom level.

[2016-08-05 10:36] apercas commented on #183
Hi, this has been fixed, the map was overlapping the projects because of the by default Carto layers behaviour.

[2016-08-05 10:36] #183 closed, assigned to apercas

[2016-08-05 10:51] apercas commented on #182
You're right, fixed and double-checked for all the resources: https://opendri.org/resource/

[2016-08-05 10:51] #182 closed, assigned to apercas

[2016-08-05 11:17] apercas commented on #178
I added a testing one: https://opendri.org/project/testing-horn-of-africa/
Visible on the project's map: https://opendri.org/project/

![image](https://cloud.githubusercontent.com/assets/704210/17434647/e0012f64-5b0b-11e6-9550-814f78c76bbf.png)

[2016-08-08 16:37] shanikadhettige opened #184 "Multiple Country posts not showing up as Yellow"
Could you please send us the written workflow for adding a multiple country post so that it registers to the map? We published the Pacific Islands post and it does register on the map but the dot shows up white.

We added the Category for Pacific Islands but the colour did not change. It would be most effective to simply have a Category entitled "Multiple Countries" so that we could simply check t

[2016-08-08 16:40] shanikadhettige commented on #69
Being addressed in #184 and #181

[2016-08-08 16:40] #69 closed, assigned to vdeparday

[2016-08-08 16:42] shanikadhettige commented on #184
There is also a larger shadow on the multiple country post for the Pacific Islands that is not on the other posts. Please change that also, thank you

![multiplecountry_shadow](https://cloud.githubusercontent.com/assets/17725960/17488057/98f6a458-5d65-11e6-9d25-64861a542b82.png)

[2016-08-08 17:02] shanikadhettige opened #185 "Add Disclaimer to Map"
The World Bank has requested that we add a Disclaimer to the project map. Please add the word "Disclaimer" as a link on the bottom left corner of the map similar to how the Leaflet and Attribution are linked.

![projectmap_disclaimer](https://cloud.githubusercontent.com/assets/17725960/17488655/5f8fea64-5d68-11e6-83a3-e16fbbf8ca61.png)

The text on the attached page should say:

add the source of

[2016-08-09 17:44] shanikadhettige commented on #147
@apercas Just wanted to draw your attention back to this issue - we have been telling editors to be careful but lose a lot of functionality without having access to both sides.
 Given that there will be several people contributing to the site, many of whom have little to no background with editing websites, we'd definitely like to avoid having them accidentally break pages.

[2016-08-09 18:37] cgiovando opened #186 "Add OpenStreetMap attribution to the project map"

[2016-08-09 18:40] cgiovando opened #187 "First lines of text editor are not visible"
See the attached screenshot. The tag toolbar covers the first an half line of the text editor form.

<img width="746" alt="screen shot 2016-08-09 at 11 38 28" src="https://cloud.githubusercontent.com/assets/10201533/17528912/1693155c-5e26-11e6-9a1d-24201d3a383e.png">

[2016-08-09 18:43] cgiovando opened #188 "Uganda project not showing on project map"
Location info is set, but project point is not showing on the main map.

https://opendri.org/project/uganda/

[2016-08-09 18:44] shanikadhettige commented on #187
Hi Cristiano,

If you change the size of your window to be larger this should be fixed.

On Tue, Aug 9, 2016 at 2:40 PM, Cristiano Giovando <notifications@github.com

[2016-08-09 19:09] cgiovando commented on #187
Do you mean the browser window? I have it expanded all the way at 2560x1600, but the bar is still covering it. The only way to show it - that I just found out - is to click on the "fullscreen" button. If that is the way it's meant to work, then feel free to close this ;)

I'm on Chrome version 52.0.2743.116, OSX 10.11.6

[2016-08-09 19:10] cgiovando commented on #188
It's working now, it probably just took a few minutes to process or clear the cache :)

[2016-08-09 19:10] #188 closed, assigned to nobody

[2016-08-11 19:51] shanikadhettige opened #189 "OpenDRI in 110 Seconds Title"
Delete the space between "OPEN" and "DRI" on Homepage "OpenDRI in 110 Seconds Title".

If it does not read clearly because of all caps perhaps "PEN" can be written in smaller size capital letters.

[2016-08-14 09:11] apercas commented on #189
Done and deployed. Close if OK.

[2016-08-14 10:58] apercas commented on #184
Hi, it seems all the multiple country projects are saved as draft but the Pacific one:
![image](https://cloud.githubusercontent.com/assets/704210/17648529/257297fe-6219-11e6-9ddb-75f7bcfb86e4.png)

According to what @vdeparday told me that's the desired result for that status, hide the projects from the map.

I fixed the duplicated row issue that caused both the shadow and the disappearing yellow

[2016-08-14 11:12] apercas commented on #186
Done and deploy.

[2016-08-14 11:12] #186 closed, assigned to apercas

[2016-08-15 14:24] #189 closed, assigned to shanikadhettige

[2016-08-15 14:25] shanikadhettige commented on #187
I'm not sure if that's the way it's supposed to work but have had to do the same thing on my laptop.

@apercas?

[2016-08-15 14:34] shanikadhettige commented on #184
Yes, we do want all the multiple country projects except for Pacific Islands hidden at the moment. Of course, that will change in the future so we need to be able to add posts like this.

Thanks for changing the Pacific Islands symbol to yellow. East Asia and the Pacific is one World Bank Region, not two, which is how it should be in our categories as well.

As mentioned in the above comment, coul

[2016-08-15 14:37] shanikadhettige commented on #178
@vdeparday can we close this issue?

[2016-08-15 14:37] shanikadhettige commented on #169
@apercas Any update on this?

[2016-08-15 14:38] shanikadhettige commented on #162
@apercas

[2016-08-15 14:41] shanikadhettige commented on #161
@apercas Will the See More button appear automatically when the project has more than 4 news listed on the side?

[2016-08-15 14:42] #86 closed, assigned to nobody

[2016-08-15 14:42] shanikadhettige commented on #73
@apercas

[2016-08-15 15:32] vdeparday commented on #178
Yes !

[2016-08-15 15:32] #178 closed, assigned to apercas, vdeparday

[2016-08-16 08:06] apercas commented on #187
Hi, I think I didn't experienced this because of my screen resolution:
![image](https://cloud.githubusercontent.com/assets/704210/17691909/72b36dfc-6397-11e6-81a9-145721a45bf7.png)

But actually this is a documented failure: https://wordpress.org/support/topic/css-bug-when-working-on-a-small-screen-the-first-line-is-not-fully-visible

I've updated the plugin and tried on different screen sizes, th

[2016-08-16 08:14] apercas commented on #161
We'll see the link when we have four or more news. (More than three.)

[2016-08-16 08:21] apercas commented on #169
This is already happening: https://opendri.org/resource/understanding-risk-2012-forum-proceedings/

The only requirement here is that the start of the paragraph must be below the margin of the picture. In this case, if the first paragraph was a little bit longer or the picture shorter, the second one will locate itself in the beginning of the page.

[2016-08-16 09:56] apercas commented on #185
Added, please edit the disclaimer page for content adjustment.

[2016-08-16 10:23] apercas commented on #181
Fixed.

[2016-08-16 11:26] apercas commented on #162
Hi, sadly we cannot display the country of each news from the news list as there is no such information, news are not related directly to a country. The only thing I can think of is adding an optional custom field that specifies the country or displaying again the tags, where we have the country linked (in between of other tags).

[2016-08-16 13:38] vdeparday commented on #162
How is that possible? We are able to display the News related to a country on the country pages? So there must be a link from the News to the country ? As we had talked about, it would actually more natural to link a News to a Country from the News page, rather than the other way around from a user prospective.

[2016-08-16 13:44] apercas commented on #162
Yes, we're displaying the news related to a country using that very tag, like here: https://opendri.org/tag/sri-lanka/

From the news list (and not from a project or a given news) the only way to get the country of a piece of news is reading its tags.

[2016-08-16 13:46] shanikadhettige commented on #181
@apercas Cleared cache just in case and used different browsers. Error is less obvious but not fixed, see Indonesia as example
![indonesiaprojectboxerror](https://cloud.githubusercontent.com/assets/17725960/17700999/0564355c-6396-11e6-8af4-9bf4a5fe5918.png)

[2016-08-16 13:54] shanikadhettige commented on #185
Thanks. Is it supposed to just take up half the page like this?
![disclaimer](https://cloud.githubusercontent.com/assets/17725960/17701323/6d020fb2-6397-11e6-9297-264c25e08b3c.png)

What is the data source you used to create the administrative boundaries on the map? Is it just pulled from OpenStreetMap?

[2016-08-16 14:01] vdeparday commented on #162
So when on this page: https://opendri.org/project/sri-lanka/ The News on the right are linked using the tags? I thought that was done using a custom field on the country ?

[2016-08-16 14:14] shanikadhettige commented on #187
@cgiovando Let us know if this remains a problem on your machine. I'll close this issue for the time being

[2016-08-16 14:14] #187 closed, assigned to shanikadhettige

[2016-08-16 14:23] shanikadhettige commented on #169
All document thumbnails are kept at a standard 150x204 size throughout the website. Since paragraphs will be different lengths based on content, the images should not need to conform to the size of the paragraph. What you have described above and all that is happening is that paragraphs "wrap" at a break point. It would be much better if they could wrap around the image in the typical, more fluid

[2016-08-16 15:29] vdeparday opened #191 "News related to a country should be listed in reverse chronological order"
The most recent news should be at the top, and the older one at the bottom, it doesn't appear to the case now for instance for Sri Lanka:

![image](https://cloud.githubusercontent.com/assets/1036189/17704323/bd31983a-63a2-11e6-9922-046228878109.png)

[2016-08-16 16:11] shanikadhettige commented on #191
All the related news had been at one point but with iterations they may have been re-pasted for some out of order.
I believe that the order they are copied into the custom fields box is the order they appear, not the date of publishing. So when adding to the list, most recent news should always be added to the bottom.
Not sure if there is a way to automate this

[2016-08-17 09:20] apercas commented on #184
Sorry, sure, here's how you add a multiple country: https://gist.github.com/apercas/38acdcc37d635cf89a7a555837fe095c
I've created that gist file so you can add it to your bookmarks if you want to keep the reference at reach. We keep a single category for each area for analytics reasons but they're all based on the same `slug` name pattern.

[2016-08-17 09:25] apercas commented on #185
The size of the page depends indeed on the content, the shorter it is the lest space it takes.

About the boundaries, they're stored in CartoDB in a table named `country_mask` and its origin is the GADM http://www.gadm.org/.

[2016-08-17 10:22] apercas commented on #181
Updated.

[2016-08-17 11:11] apercas commented on #169
Ok, I see, updated: https://opendri.org/resource/digital-elevation-models-a-guidance-note-on-how-digital-elevation-models-are-created-and-used/

[2016-08-17 11:21] apercas commented on #162
There is no such entity as country (but we have project, which is the most similar one), that's why we cannot go backwards from the news list. We're taking the country name from the title of the project, actually, and that's how we get the relation for the news. We display the related ones and then we build a link to the tag for that country.

[2016-08-17 11:32] apercas commented on #147
Hi, I've been trying again and both the visual and the text editor behave likewise, could you please tell me if you tell any different on the new paragraphs creation now?

[2016-08-17 11:36] apercas commented on #73
In order to doing so we'll need the JS libraries they're using and the URL of the data the map is being fed from. Of course you can still add a link to the map or the downloadable content if you don't want an iframe.

[2016-08-17 11:39] apercas commented on #191
Project's related news are displayed in the same order they're posted in the `news` custom field, this is not a dynamic list, it's controlled within the project and its content.

[2016-08-17 15:56] vdeparday commented on #73
It should all be on there: https://github.com/OpenCitiesProject/OpenCitiesProject.github.io but I can dig a bit more

[2016-08-17 16:01] vdeparday commented on #191
Ok, then let's try to make sure we list them in reverse chronological order except exception. cc @shanikadhettige

[2016-08-17 16:01] #191 closed, assigned to vdeparday

[2016-08-17 16:26] vdeparday commented on #162
By country, I meant project. I still don't understand why we cannot access the project that is related to a news ? It should be easy to display the project name to which a news is related ?

[2016-08-17 20:28] shanikadhettige commented on #147
I just Updated will viewing the Visual Editor and the issue still happens.

I will go ahead and reinsert the < p >< /p > tags  to Text Editor now
![uganda_spaceissue](https://cloud.githubusercontent.com/assets/17725960/17751967/ac3ec994-6497-11e6-8256-1b36a9fe765f.png)

[2016-08-17 20:34] shanikadhettige commented on #169
It looks the same as before
![wraptext1](https://cloud.githubusercontent.com/assets/17725960/17752128/728f8480-6498-11e6-978d-90baa93b41ae.png)
![wraptext2](https://cloud.githubusercontent.com/assets/17725960/17752129/72925480-6498-11e6-9dcc-1f4bb37abb52.png)

[2016-08-17 20:46] shanikadhettige commented on #185
Edited
https://opendri.org/disclaimer/

[2016-08-17 20:46] #185 closed, assigned to shanikadhettige

[2016-08-17 20:58] shanikadhettige opened #192 "Stretch Multiple Country Pop Up Box"
Is it possible to have the list of Countries span the width of the project pop up box? The name of the regions (Pacific Islands:) looks good where it is, above the others.
![stretch title across](https://cloud.githubusercontent.com/assets/17725960/17752854/c0990626-649b-11e6-98d1-2e9a10c3374f.png)

[2016-08-17 21:01] shanikadhettige opened #193 "Map pop up boxes taller"
How do you make the taller box for the Pacific Islands post? Can we have the same automated for when the text is longer and doesn't show the "view project" button in the box window?

The scroll bar is not obvious so it is better to have it all show when the box appears. The excerpts for these projects will not offer useful information if we cut them down much more.

![belize pop up](https://cloud.

[2016-08-18 08:04] apercas commented on #169
I'm seeing this in Chrome, Firefox and Safari, could you please force reload without cache? ![image](https://cloud.githubusercontent.com/assets/704210/17766301/c983235e-652a-11e6-9ea9-8984240b63ad.png)

Thanks.

[2016-08-18 15:26] shanikadhettige commented on #169
Thanks this works on Chrome.

I cleared cache but still doesn't work on IE. As discussed previously, the
default on all WB computers is IE so it's important that things function
properly/look good on that platform.

On Thu, Aug 18, 2016 at 4:04 AM, Adrián notifications@github.com wrote:

[2016-08-23 15:45] #181 closed, assigned to shanikadhettige

[2016-08-23 21:12] shanikadhettige opened #194 "Change Newsletter Subscription section"
Could you please delete the email address entry field and simply direct the SUBSCRIBE button to the following URL: http://eepurl.com/ccGL9n

Keep all the text the same and resize the box to fit the revised content

![opendri_newslettersubscription](https://cloud.githubusercontent.com/assets/17725960/17909943/b8e7d958-6954-11e6-962a-3a69a33d6ae2.png)

[2016-08-25 16:12] apercas commented on #193
They all depend on the content we input in the excerpt, we are not applying different heights for each project.

[2016-08-25 16:16] shanikadhettige commented on #193
Yes, when there is more content in the excerpt, can more height be there as the view project button is not always visible?

[2016-08-25 17:17] apercas commented on #194
Updated.

[2016-08-25 17:27] shanikadhettige commented on #194
You deleted some of the text "If you do not receive a confirmation email, please be sure to check your SPAM folder"
Could you put that back as it was before?
ONLY the email entry field should be removed.
Thanks, the button works well

[2016-08-25 20:48] shanikadhettige opened #195 "OpenDRI Overview in two sections, need to remove one"
@vdeparday would you prefer it in Guides and Publications or Other Resources?
https://opendri.org/resource/

[2016-08-25 20:49] shanikadhettige commented on #184
Ok, makes sense. Will reopen if I have issues in the future
Thanks!

[2016-08-25 20:49] #184 closed, assigned to shanikadhettige

[2016-08-26 08:11] apercas commented on #194
Updated.

[2016-09-09 18:48] rsoden opened #196 "Links at the bottom of the homepage incorrect"
https://opendri.org/

At the bottom of the page, the link to the Open Cities guide goes to the pantheon site, and the link to the Policy and Principles goes to #

[2016-09-09 19:14] shanikadhettige commented on #196
@rsoden when @apercas merges my pull request (referenced above)  this should be fixed - thanks for pointing this out!

[2016-09-14 14:10] shanikadhettige opened #198 "Link in Resource page descriptions"
We are looking to do some hyperlinking from the short descriptions on the resource page. This text is pulled from the excerpt section of the post editor. Using markup works to create the link, however the style is messed up.

Could you:
1) change the linked text to not be white so that it can be seen better, and
2) advise how to remove the paragraph split?

This seemed to happen automatically, I'm

[2016-09-14 14:14] shanikadhettige commented on #198
I have removed the link until this is fixed so as not to disrupt how the page looks to viewers.
Here is what had been in the excerpt for the link:

`This Open Cities guide documents lessons learned from work in South Asia, providing an overview of the design and implementation of a community mapping program. To keep this guide up-to-date and truly open source, the <a href="http://vizzuality.github

[2016-09-15 19:57] shanikadhettige opened #199 "Header Error on Mozzila Firefox"
In Mozilla there is no padding between the page buttons and top of browser

![mozilla header error 2](https://cloud.githubusercontent.com/assets/17725960/18565231/f246f728-7b5c-11e6-91d7-aa423ad4c2e3.png)

[2016-09-15 19:59] shanikadhettige opened #200 "Mozilla Video Error"
Videos do not display on Mozilla

![mozilla video error](https://cloud.githubusercontent.com/assets/17725960/18565305/4e62dd4c-7b5d-11e6-9ee0-070b41d71d27.png)
![mozilla header error 1](https://cloud.githubusercontent.com/assets/17725960/18565306/4e633b5c-7b5d-11e6-9cb4-6e7eacf8a764.png)

[2016-09-16 08:52] apercas commented on #196
Done.

[2016-09-16 08:58] apercas commented on #200
Hi, this is how Firefox is rendering the website for me:
![image](https://cloud.githubusercontent.com/assets/704210/18580518/65e4f73a-7bfc-11e6-9069-2747e86f52ed.png)

Could it be that you're using any kind of video/advertisement blocker that prevent Youtube to show up? I have no extensions. Please let me know. Thanks!

[2016-09-16 09:12] apercas commented on #199
Fixed.

[2016-09-16 09:12] #199 closed, assigned to apercas

[2016-09-16 09:31] apercas commented on #198
Updated: https://opendri.org/resource/

[2016-09-16 09:31] #198 closed, assigned to apercas

[2016-09-16 16:10] shanikadhettige commented on #200
I am using the world bank computer and there is an automatic ad blocker on all of the firefox browsers on these computer. I disabled it and cleared my cache but the problem still remains. It doesn't appear to be a problem on my colleague's personal mac though, she does not have any ad blocker.

[2016-09-16 16:19] shanikadhettige commented on #196
Weirdly, the Open Cities guide now goes to the Principles page and the Principles image still goes to https://opendri.org/#

Also could you fix the image that is in Open Cities to this one - https://opendri.org/wp-content/uploads/2014/12/Community-Mapping-planning_backcover72dpi-01.jpg
There is text showing on the one there now and we have a blog post being published on a World Bank site at the be

[2016-09-16 16:21] #194 closed, assigned to shanikadhettige

[2016-09-16 16:24] shanikadhettige commented on #56
Deferred until #81 is addressed

[2016-09-19 06:58] vdeparday opened #202 "Dates for News on Homepage are all the same"
![image](https://cloud.githubusercontent.com/assets/1036189/18624329/d88fb2f6-7e14-11e6-9e69-d3a67b87b1b0.png)

Each News post has a different date once clicked on but on the homepage the same date is written under each. See screenshot above

cc @shanikadhettige

[2016-09-19 15:21] apercas commented on #202
Hotfixed.

[2016-09-19 15:21] #202 closed, assigned to apercas

[2016-09-19 15:24] apercas commented on #196
Done.

[2016-09-20 15:54] #196 closed, assigned to apercas, shanikadhettige

[2016-09-20 17:57] shanikadhettige opened #203 "Add Capability Manager Plugin"
For whatever reason my account won't let me add plugins
https://wordpress.org/plugins/capability-manager-enhanced/installation/

[2016-09-21 08:21] apercas commented on #203
Hi, quick explanation. It's not because of your or my account. A Pantheon server (as an Heroku server) won't let you install anything as they won't allow you to write / edit a file as a regular server will do because the only thing they do is reading files (and they're really quick at it). That's why we'll never have the chance to add a plugin unless directly from the `/wp-admin`, but we'll be abl

[2016-09-21 14:50] shanikadhettige commented on #203
Ok, let me know - thanks!

On Wed, Sep 21, 2016 at 4:21 AM, Adrián notifications@github.com wrote:

[2016-09-21 18:22] shanikadhettige commented on #144
@apercas @vdeparday how do we move forward with this?

[2016-09-22 14:22] #142 closed, assigned to vdeparday, shanikadhettige

[2016-09-22 14:38] vdeparday commented on #195
I don't understand this one, I only see it under "Other Resources", I think that is fine like that

[2016-09-22 14:40] vdeparday commented on #144
We can delete the previous /resources page. Then we can ask Pantheon to set-up the redirection from /resource to /resources as suggested above by @apercas

[2016-09-22 14:41] vdeparday commented on #150
We can leave the mouse for now, let's see if we get more feedback about it.

[2016-09-22 14:41] #150 closed, assigned to vdeparday

[2016-09-22 14:59] shanikadhettige commented on #195
Woops - forgot to mention I hid one for the time being. Closing now

[2016-09-22 14:59] #195 closed, assigned to vdeparday

[2016-09-22 15:16] shanikadhettige commented on #144
Ok, I can ask Morbus to do the redirect once the prior /resources page is
deleted. @apercas - can you please delete?

On Thu, Sep 22, 2016 at 10:40 AM, Vivien Deparday notifications@github.com
wrote:

[2016-09-22 15:38] shanikadhettige commented on #144
Actually, I just deleted it. Will ask for the redirect now.
@apercas let me know if anything else needs to be done other than deleting from here: https://opendri.org/wp-admin/edit.php?post_type=page

[2016-09-22 17:13] shanikadhettige commented on #144
Done
www.opendri.org/resources

[2016-09-22 17:13] #144 closed, assigned to apercas

[2016-09-27 09:26] apercas commented on #203
Added :)

[2016-09-27 09:26] #203 closed, assigned to apercas

[2016-09-27 10:13] apercas commented on #192
Done. Although we cannot apply different styles for the first line (we could change the font size or the font family, for instance, but not the margins or paddings).

[2016-09-27 11:55] apercas commented on #193
Hi there, now the poopups are flexible, content height dependant, hope you like it :)

[2016-09-27 14:22] shanikadhettige opened #204 "Comoros news error"
Error with news on Comoros page - please fix
Inputs are correct in custom field

[2016-09-27 14:23] shanikadhettige commented on #204
https://opendri.org/project/comoros/

[2016-09-27 14:36] shanikadhettige commented on #193
@apercas Thanks, this looks good on Chrome
Unfortunately, it still does not work on IE and Firefox. IE just has the scroll the way it was before but Firefox shows the View Project button partially on some and fully on others. The button size (spacing around text) is also inconsistent between different countries on Firefox. See attached images.

Note: The project map was also not showing up on Fire

[2016-09-27 14:40] shanikadhettige commented on #192
Thanks - @vdeparday, how do you want to move forward?

[2016-09-27 17:12] shanikadhettige commented on #203
Thanks!!

[2016-09-27 17:40] shanikadhettige opened #205 "Style for bullets"
Is there a way we can style bullets so they are more appealing?
It would be nice to have a small shape for the bullet and also have the content indented with bullet hanging over.

![bullets](https://cloud.githubusercontent.com/assets/17725960/18884999/d1674b20-84b7-11e6-8b0e-20b82a30d1d5.png)
![bullets example](https://cloud.githubusercontent.com/assets/17725960/18885000/d16811ae-84b7-11e6-87a5-35

[2016-09-27 17:42] shanikadhettige commented on #205
Right now I am just using standard ul li to list, let me know if there's a better way to be adding this in

[code]

[2016-09-27 21:15] shanikadhettige opened #206 "Add a link to news with resources on resource page"
Hi @apercas

Are you able to add a blue button with white text to the bottom of the resource page (right under the Other resources section)?
We would like the button to say the following and link to https://opendri.org/tag/resource/:
**Explore additional resources featured in OpenDRI news**

Many thanks!

[2016-09-28 10:51] vdeparday commented on #204
I think we also had this issue before, and we had fixed it by clicking on all the custom field and click update. I think I had done this one too but maybe not. If we do it once, it should be fixed for good right? Or can it reappear? If it can, then we would need to fix the original cause.

[2016-09-28 11:28] vdeparday commented on #204
Fixed it by clicking on update field. Before closing, want to make sure that this error won't reappear. Can you confirm @apercas ?

[2016-09-28 15:35] vdeparday commented on #192
What do you mean? now It looks like it is taking the whole width for the
most part.

On Tue, Sep 27, 2016 at 4:46 PM, shanikadhettige notifications@github.com
wrote:

[2016-09-28 16:36] shanikadhettige commented on #192
It's been changed since yesterday - thanks @apercas!

[2016-09-28 16:36] #192 closed, assigned to vdeparday, shanikadhettige

[2016-09-28 16:39] shanikadhettige commented on #193
This appears to be fixed on IE as well now (thank you @apercas)
The only remaining issue for IE is that the blue space around the View Project buttons are different sizes (e.g. see the difference between Mauritius and Mozambique) - the preferred option is like Mauritius or Guyana
I haven't checked the other browsers at this time

[2016-10-11 15:11] shanikadhettige opened #207 "Safari - news columns"
The news section is not populating in two columns on the main page in Safari
Seems to work fine in Chrome/Firefox
See screenshot:
![safari](https://cloud.githubusercontent.com/assets/17725960/19276099/6081a878-8fa3-11e6-8b4f-abc996eb8591.png)

[2016-10-11 16:11] shanikadhettige opened #208 "Footer GFDRR logo low resolution"
The GFDRR logo on footer is low resolution, please use files I am sending via email.

[2016-10-17 14:54] shanikadhettige opened #209 "add HTTP auth"
to server for dev site so that search engines do not index this
see email from Morbus for more information

[2016-10-21 13:49] shanikadhettige commented on #209
Can you please remove this temporarily and fix issue with SASS file asap? We cannot access the mobile site as it is requesting authentication

[2016-10-21 22:43] apercas commented on #209
Hi @shanikadhettige I thought you have been notified: Vizzuality and I decided to take different paths recently. I'm afraid I cannot help here anymore.

[2016-12-05 18:20] vdeparday opened #210 "Issue with phone layout on about page"
On the mobile version, the Principles in the About page are not reflowed and displayed properly:

![img_1338](https://cloud.githubusercontent.com/assets/1036189/20896820/80974dd2-baed-11e6-8687-91f1c3ed6709.PNG)

[2016-12-07 20:59] vdeparday opened #211 "Update Ramani Huria video with new video"
We should replace the top video by this one I think: https://www.youtube.com/watch?v=7Pa0wgMstE8&t=3s

[2016-12-07 23:04] vdeparday opened #212 "Adding video on Zanzibar project page"
https://www.youtube.com/watch?v=giqtR3LBPDE&feature=youtu.be

[2016-12-08 16:01] vdeparday opened #213 "Blog post on GeoNode Summit"

[2017-01-25 22:11] shanikadhettige commented on #213
https://opendri.org/geonode-summit-2016/

[2017-01-25 22:11] #213 closed, assigned to nobody

[2017-01-25 22:21] shanikadhettige commented on #212
https://opendri.org/project/zanzibar/

[2017-01-25 22:21] #212 closed, assigned to shanikadhettige

[2017-01-25 22:28] shanikadhettige commented on #211
I moved the old one into the community mapping section as that may be more appropriate and it's a good way to still keep all of these videos easily accessible - let me know if you just want to delete it.

Also, what do you think of creating a video section on the resources page? Could be a cool way to make sure they get seen and stay accessible even if taken off the project pages.

[2017-01-25 23:11] #60 closed, assigned to nobody

[2017-01-25 23:16] #82 closed, assigned to agnlez

[2017-01-25 23:17] shanikadhettige commented on #83
Being resolved offline.

[2017-01-25 23:17] #83 closed, assigned to shanikadhettige

[2017-01-25 23:18] shanikadhettige commented on #130
Was there any follow up on the geonode links that don't work?

[2017-01-25 23:20] #161 closed, assigned to shanikadhettige

[2017-01-25 23:24] shanikadhettige opened #214 "Blue "View Project" buttons are different sizes"
Remaining issue for IE: the blue space around the View Project buttons are different sizes (e.g. see the difference between Mauritius and Mozambique) - the preferred option is like Mauritius or Guyana
 I haven't checked the other browsers at this time

https://opendri.org/project/

[2017-01-25 23:24] shanikadhettige commented on #193
Following up in https://github.com/Vizzuality/openDRI/issues/214

[2017-01-25 23:24] #193 closed, assigned to apercas

[2017-01-25 23:36] shanikadhettige opened #215 "Where do these comments come from? How do we address?"
https://opendri.org/wp-admin/edit-comments.php

[2017-02-13 14:29] shanikadhettige opened #216 "Images not showing up on firefox"
![image error](https://cloud.githubusercontent.com/assets/17725960/22887155/f478a238-f1ce-11e6-90ca-ff05baeb5c66.png)

[2017-03-02 12:53] tiagojsag commented on #209
http://opendri.simbiotica.es/robots.txt dev site is preventing robots from indexing

[2017-03-02 12:53] #209 closed, assigned to nobody

[2017-03-02 15:33] tiagojsag commented on #200
Hi,

I just tested on Firefox on Windows 10, Mac and Linux, and the videos are showing just fine. In any case, this is a simple youtube video embed, so I wondering if you experience the same issue on other sites that use the same functionality - for example here: [http://globalfishingwatch.org/the-project](http://globalfishingwatch.org/the-project)

Let me know
thanks

[2017-03-02 16:01] tiagojsag commented on #216
@shanikadhettige Just tested on the latest Firefox on Windows 10 and the images load just fine. Can you confirm if you are still experiencing this? thanks

[2017-03-02 16:24] tiagojsag commented on #211
Hi @vdeparday @shanikadhettige

can you please update me on this task. From the conversation, it seems that the purpose of the task changed significantly.

thanks

[2017-03-02 16:30] tiagojsag commented on #208
@shanikadhettige are you noticing any visible image degradation on the footer logo? The current image is being rendered at 1:1 so there's no stretching taking place. please let us know

[2017-03-02 16:32] tiagojsag commented on #215
Hi @shanikadhettige

I take it from your comment that the site was not designed to have a comment system in place, correct? This is most likely Wordpress' default comment system. We will need to look into options to somehow disable it

[2017-03-02 16:35] tiagojsag commented on #207
I just confirmed the issue

[2017-03-02 16:38] tiagojsag commented on #204
@shanikadhettige @vdeparday could you please give me a bit more info about this issue? Adrian was most likely familiar with it already, but I need a bit of introduction to it. Thanks

[2017-03-02 17:06] tiagojsag commented on #162
Hi,

Let me know if this discussion is still relevant. Currently, news seem to be loaded from a custom field on the project page, so this is a one directional relationship.

[2017-03-02 17:09] tiagojsag commented on #147
please let me know if this discussion is still relevant

thanks

[2017-03-02 17:10] tiagojsag commented on #130
Hi everyone,

is this issue still present, or can we close it?

thanks

[2017-03-02 17:12] tiagojsag commented on #73
Hi @vdeparday

Is this discussion still relevant?

thanks

[2017-03-02 17:13] tiagojsag commented on #56
Hi,

can you let us know if this is still an issue?

thanks

[2017-05-16 21:01] shanikadhettige commented on #56
Hi Tiago,

I'm just getting some bandwidth to look at these again. We have hidden the partner text and images for now until the organizations have all been consulted. That being said, we plan to show this content again in the future and I believe the issue remains a problem.

[2017-05-16 21:02] shanikadhettige commented on #81
Reopen for Vivien to address during Discovery Phase with partner orgs

[2017-05-16 21:04] shanikadhettige commented on #215
Yes, the trouble is that we can't figure out where the comments are coming from as I don't think that the Wordpress system is enabled anywhere

[2017-05-16 21:11] shanikadhettige commented on #208
Yes - this image is still not crisp
![opendri website issue_logo degradation](https://cloud.githubusercontent.com/assets/17725960/26128507/a8acd782-3a5a-11e7-8557-880cd6ffb75c.png)

[2017-05-16 21:13] shanikadhettige commented on #200
Now that the bank computers have been updated, this no longer appears to be a problem

[2017-05-16 21:13] #200 closed, assigned to shanikadhettige

[2017-05-16 21:14] shanikadhettige commented on #147
Yes, I believe so.

On Thu, Mar 2, 2017 at 12:09 PM, Tiagojsag <notifications@github.com> wrote:

[2017-05-16 21:27] shanikadhettige commented on #216
This is OK now, thanks

[2017-05-16 21:28] shanikadhettige commented on #162
@vdeparday let's discuss

[2017-05-23 14:42] tiagojsag commented on #215
@shanikadhettige I take it we can then remove ALL existing comments (the list you linked above) and hide everything related to Wordpress' default comment feature, correct? Just want to be extra sure before I go ahead and do the change

thanks

[2017-05-23 15:49] shanikadhettige commented on #215
Hi Tiago,

Yes, at this point we have no intention of using comment features.

Thanks,
Shanika

On Tue, May 23, 2017 at 10:42 AM, Tiagojsag <notifications@github.com>
wrote:

[2017-06-01 13:56] tiagojsag commented on #215
Comments have been disabled, so we can close this issue

[2017-06-01 13:56] #215 closed, assigned to tiagojsag

[2017-06-13 20:55] shanikadhettige opened #217 "Jetpack Safe Mode"
![opendri website issue_jetpack safe mode](https://user-images.githubusercontent.com/17725960/27104060-f1ca5980-5058-11e7-99cc-b45d9f2c9393.png)

The website currently says that it is launching in JetPack Safe Mode for both Vivien and I and we believe it is interfering with our ability to upload files, etc.

What should be done?

[2017-06-13 20:58] shanikadhettige commented on #147
Just checked and this remains a problem after the update - how can we fix? @tiagojsag

[2017-06-13 21:10] shanikadhettige commented on #217
I was able to upload files in another browser even though this notification is there.

Still, we would like to know how what to click to address this banner notification.

Thanks

[2017-06-14 07:56] tiagojsag commented on #217
fixed

[2017-06-14 07:56] #217 closed, assigned to tiagojsag

[2017-06-22 13:54] #147 closed, assigned to tiagojsag

[2017-06-23 10:19] #206 closed, assigned to tiagojsag

[2017-06-23 10:22] #210 closed, assigned to tiagojsag

[2017-06-23 10:24] #207 closed, assigned to tiagojsag

[2017-06-23 12:23] #208 closed, assigned to shanikadhettige

[2017-06-23 12:30] tiagojsag commented on #211
@vdeparday a few questions:
- The page where the video should show up is https://opendri.org/how-are-the-maps-being-used-in-the-wards/, correct?
- We want to have it embedded at the top of the page body, correct?

Let me know, so I can move forward with the implementation

Thanks

[2017-06-23 14:03] tiagojsag commented on #162
I added the support for a new field, called "countries", inside a news page.

![image](https://user-images.githubusercontent.com/973964/27485429-ef4007c4-582c-11e7-906e-12b907a673ba.png)

The screenshot above is from https://opendri.org/wp-admin/post.php?post=2097&action=edit
You can do the same for every news article, to specify which country it should be linked to.

On the frontend, the country

[2017-06-23 14:03] #162 closed, assigned to vdeparday

[2017-07-13 13:46] #169 closed, assigned to tiagojsag

[2017-07-13 14:46] shanikadhettige commented on #214
Hi team,

Unfortunately this issue still remains when I view both using Google Chrome and using Internet Explorer. For example, see Armenia vs. Jamaica where the blue box is much larger for Armenia and gets cut off.

Thanks,
Shanika

[2017-07-13 14:51] tiagojsag commented on #214
@shanikadhettige have you tested this on the dev site? As I mentioned in my email, this is currently only available in the test environment, not yet in the production site.

Also, the original message implies that the issue occurs only on IE. Your comment, however, seems to indicate that it also happens on Chrome, in which I tested and I cannot see the issue. Could you confirm you see the problem

[2017-07-13 14:54] shanikadhettige commented on #216
This appears to be an issue once again.
![firefox image issue_ july 13 2017](https://user-images.githubusercontent.com/17725960/28172455-93019af8-67b9-11e7-9708-a4d33598c4e7.PNG)

[2017-07-13 14:56] shanikadhettige commented on #210
Confirmed as fixed.

[2017-07-13 14:58] shanikadhettige commented on #208
Ok

[2017-07-13 15:20] shanikadhettige commented on #214
Hi @tiagojsag
Yes, I checked on http://dev-gfdrr-opendri.pantheonsite.io/ for IE (Version 11.916.10586.0), Firefox (Version 54.0.1 (32-bit)), and Chrome (Version 58.0.3029.96 (64-bit)).

Please see attached screenshots:
![issue_view project _chrome_july 13 2017](https://user-images.githubusercontent.com/17725960/28173461-84120ffc-67bc-11e7-9fd3-0ac5df416221.PNG)
![issue_view project correct size_c

[2017-07-13 15:28] shanikadhettige commented on #169
Confirmed wrap text issue fixed on IE, Firefox, Chrome

![fixed_wrap text_chrome_july 13 2017](https://user-images.githubusercontent.com/17725960/28174078-6eb26006-67be-11e7-9d2a-3e5c9ac42a0f.PNG)
![fixed_wrap text_firefox_july 13 2017](https://user-images.githubusercontent.com/17725960/28174076-6eabd984-67be-11e7-8092-85413268c73a.PNG)
![fixed_wrap text_ie_july 13 2017](https://user-images.github

[2017-07-13 15:36] shanikadhettige commented on #147
Confirmed fixed!

[2017-07-13 15:43] shanikadhettige commented on #205
There is only styling added if you choose "news" under Categories. Can you please apply this styling throughout the site?

Also, will doing that mess up any bullets that were manually entered as
"- abcxyz" to show as " (styled bullet) - abcxyz)?
If so, will we need to manually find and fix all bullets throughout all project, news, and resources posts on the site?

[2017-07-13 15:46] shanikadhettige commented on #206
Confirmed fixed

[2017-07-13 16:25] tiagojsag commented on #205
Will do

Yes, any list created manually up until now may need to be manually modified, one by one, to remove the extra content

[2017-07-13 16:33] tiagojsag commented on #216
Just tested on both the dev environment and the live site, on Mac, Linux and Windows 10, with latest versions of FF, and the image is rendering correctly on all cases. If you are using Windows, please do the following:
1- Open the page on Firefox
2- Press Ctrl+Shift+K. A sidewindow should open inside Firefox
3- Refresh the page
4- Send us a screenshot of the content of the sidewindow once the page

[2017-07-13 16:35] tiagojsag commented on #214
Ok, we were looking at another issue, which was on the buttons further down the page, and only affected IE. We'll look into this one too. Thanks for the detailed info, it was really helpful in clarifying the problem.

[2017-07-13 17:17] shanikadhettige commented on #216
Sure, see below:

![issue_image not showing 2_firefox_ july 13 2017](https://user-images.githubusercontent.com/17725960/28178761-8ec56a3c-67cd-11e7-96ac-61c75dfe0118.PNG)

[2017-07-13 17:19] shanikadhettige commented on #214
No problem, yes let me know where/how I can provide more details in other
issues. Sometimes I'm not sure what info is needed but do typically send
screenshots wherever possible.

On Thu, Jul 13, 2017 at 12:35 PM, Tiagojsag <notifications@github.com>
wrote:

[2017-07-13 20:32] shanikadhettige commented on #162
@vdeparday i understand this is a more manual solution than you were looking for, is this OK for you?

[2017-07-14 07:23] tiagojsag commented on #216
hum, no image and no error... weird.
Can you let me know if the following URL shows you the image? https://i2.wp.com/opendri.org/wp-content/uploads/2017/02/OpenDRI_OLC_Intro-e1486996259342.png

[2017-07-14 14:18] shanikadhettige commented on #216
It does!

On Fri, Jul 14, 2017 at 3:23 AM, Tiagojsag <notifications@github.com> wrote:

[2017-07-18 16:19] vectorsize commented on #216
@shanikadhettige I noticed in one of the screenshots you are using AdblockPlus, and this could be the reason why the image is not loading, could you please try disabling your extensions? here's [a link explaining how to do it.](https://support.mozilla.org/en-US/kb/disable-or-remove-add-ons)

[2017-07-18 17:03] vectorsize commented on #205
@shanikadhettige in [the particular post you are mentioning](https://opendri.org/the-global-impact-of-data-key-findings-from-detailed-case-studies-around-the-world/) the post is using paragraphs for each of the items in the list:

[code]

Is it possible that something didn't get saved as expected? If I turn that into proper lists locally everything works as expected.

[2017-07-20 16:23] #204 closed, assigned to vdeparday, shanikadhettige

[2017-07-20 17:15] shanikadhettige commented on #216
FYI, this is what it looks like on my Bank laptop at home using Firefox

![issue_image not showing 3_firefox_ july 20 2017](https://user-images.githubusercontent.com/17725960/28430153-6f2fc584-6d4d-11e7-9071-ac0a5391f8a4.PNG)

[2017-07-20 17:30] #211 closed, assigned to vdeparday

[2017-07-20 17:30] shanikadhettige commented on #211
https://opendri.org/project/zanzibar/ video changed, not going to pursue creating a video page for now

[2017-07-20 17:42] vectorsize commented on #205
Bullets are fine when the content is a list, we will try adding some left padding to lists and decrease the vertical space before lists to be able to have text explaining what the list is without it being too far.

[2017-07-20 17:52] tiagojsag commented on #73
http://mapbox-for-wordpress.stephanemartinw.com <- potentially relevant

[2017-07-20 17:52] tiagojsag commented on #73
https://wordpress.org/plugins/mapbox-for-wp-advanced/

[2017-07-25 13:08] tiagojsag commented on #56
As per our conversation last week, we are pending partner approval to display the logos. Once we have that, we'll review the hidden section of the "about" page and make sure the logos show up properly formatted. @vdeparday Let us know when you have the approved partner list closed, and please try to get the logos in high resolution too.

Thanks

[2017-07-25 13:09] tiagojsag commented on #216
@vdeparday @shanikadhettige have you experience this issue again since we last spoke?

[2017-07-27 09:02] #214 closed, assigned to tiagojsag, vectorsize

[2017-07-27 09:02] tiagojsag commented on #214
this should now be fixed

[2017-07-28 13:17] #205 closed, assigned to tiagojsag, vectorsize

[2017-08-09 07:22] tiagojsag commented on #216
@vdeparday @shanikadhettige am I correct to assume we can close this issue? thanks

[2017-08-09 07:25] tiagojsag commented on #56
hi @shanikadhettige @vdeparday

Have there been any developments here?

Thanks

[2017-08-09 11:09] tiagojsag commented on #73
We used a different plugin for this, which embeds layers from MapBox directly.

you can use the following shortcode to embed a map on a page:

`[mapbox layers="gfdrr.map-wv1c9ry4,gfdrr.kathmandu-health"]`

The result will be the top map on https://dev-gfdrr-opendri.pantheonsite.io/project/uganda/

more info on the available configuration options: https://wordpress.org/plugins/mapbox/

[2017-08-09 13:56] vdeparday commented on #216
We had the issue again, but not we now how to fix it so we can close.

[2017-08-09 13:56] #216 closed, assigned to shanikadhettige

[2017-08-09 13:57] vdeparday commented on #56
Not yet, I think you can park this one for now. It will take a little bit for us to get everything.

[2017-08-09 13:59] vdeparday commented on #73
That looks much better thanks ! If you look on here: http://www.opencitiesproject.org/casestudy/health/ We also added a little bit of JS to enable a download of the data. What would be the easiest way to do that on the new website ?

[2017-08-09 14:01] tiagojsag commented on #73
I would suggest adding those links to the body of the Wordpress page itself.

[2017-08-09 14:43] vdeparday commented on #73
Actually , I just noticed that when zooming in on the new one, the icons dissappears (no more health center) when they stay on the original page. It looks like it may be related to a minimum zoom level but I am not sure, could you have a quick look into it? Thanks

[2017-08-10 13:26] tiagojsag commented on #73
@vdeparday we may be able to limit that from MapBox's side. Would it be possible for you to give me access to that MapBox account?

Thanks

[2017-08-31 15:59] nerik commented on #56
Here's an example implementation:
[code]

[2017-09-01 13:21] tiagojsag commented on #56
Hi everyone,

Given that we are not sure when we'll have the final logos approved, we went ahead and did the necessary changes to have the "partners" section support a varying range of logo proportions:

![image](https://user-images.githubusercontent.com/973964/29971415-695bad10-8f28-11e7-8e38-2e8755d91391.png)

You can see it live on https://dev-gfdrr-opendri.pantheonsite.io/about/

The code itse

[2017-09-29 13:22] tiagojsag commented on #73
As agreed, we developed a plugin which allows integrating the existing Mapbox maps into the OpenDRI site.

You can find usage instructions here:

https://github.com/GFDRR/opendri-website/blob/master/wp-content/plugins/mapbox-simple/README.md